@use 'theme';

$width: var(--amino-progress-bar-width);
$background-color: var(--amino-progress-bar-background-color);

.base {
  width: theme.$amino-space-56;
  height: theme.$amino-space-8;
  background-color: theme.$amino-gray-100;
  border-radius: theme.$amino-radius-8;
  z-index:0;
}

.bar {
  width: $width;
  height: theme.$amino-space-8;
  background-color: $background-color;
  z-index: 1;
  border-radius: theme.$amino-radius-8;
}