@use 'theme';

.coverSheet {
  // Override BaseDialog
  border-radius: 0;
  max-height: 100vh;

  outline: none;
  box-sizing: border-box;
  overscroll-behavior: contain;
  background: theme.$amino-page-background;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: theme.$amino-text-color;
  border: theme.$amino-border-subtle;

  @media print {
    height: unset;
    min-height: 100vh;
    position: absolute;
  }
}

.headerContainer {
  border-bottom: theme.$amino-border-subtle;
  padding: theme.$amino-space-16 theme.$amino-space-32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: theme.$amino-page-background;

  @media print {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: theme.$amino-space-16;
}

.headerComponent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  flex-grow: 1;
  padding: theme.$amino-space-56;
  overflow: auto;
}
