@use 'theme';

$radio-background: var(--amino-radio-background);
$border: var(--amino-radio-border);
$box-shadow: var(--amino-radio-box-shadow);
$radio-container-background: var(--amino-radio-container-background);

.styledRadio {
  width: theme.$amino-space-16;
  height: theme.$amino-space-16;
  border-radius: 50%;
  background: $radio-background;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: $border;
  box-shadow: $box-shadow;
  margin-right: theme.$amino-space-8;
  transition: theme.$amino-transition;

  svg {
    color: theme.$amino-gray-0;
    width: theme.$amino-space-8;
    height: theme.$amino-space-8;
  }
}

.styledText.styledText {
  margin-bottom: 0;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:global(.disabled) {
    cursor: not-allowed;
    & > div {
      background: $radio-container-background;
      cursor: not-allowed;
    }
    label {
      cursor: not-allowed;
    }
  }
}
