@use 'theme';

.tagInputWrapper.tagInputWrapper {
  border: theme.$amino-border;
  padding: 6px;
  border-radius: theme.$amino-radius-10;
  overflow-x: auto;

  .tagInput {
    border: none;
    outline: none;
    padding: 6px;
    min-width: 100px;
    flex: 1 1 auto;
    min-width: 50px;
    flex-grow: 1;
    font-size: theme.$amino-font-size-base;
    font-weight: 500;
    background-color: transparent;
  }
}



