@use 'theme';

.aminoListItem {
  padding: theme.$amino-space-8 theme.$amino-space-16;
  display: flex;
  flex-direction: row;
  gap: theme.$amino-space-16;
  align-items: center;
  min-height: theme.$amino-size-xl;
  border-radius: theme.$amino-radius-8;
  line-height: 16px;

  :global(.__icon-wrapper) {
    display: none;
    &.hasIcon {
      display: inline-block;
    }
  }

  &:not(.disabled) {
    &.selected {
      background-color: theme.$amino-blue-50;
      * {
        color: theme.$amino-blue-800;
      }
    }
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    background-color: theme.$amino-hover-color;
  }

  &.disabled {
    color: theme.$amino-gray-600;
    cursor: not-allowed;
  }

  &:not(.disabled):not(.selected).withClick:hover {
    background-color: theme.$amino-hover-color;
    cursor: pointer;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex-grow: 1;
}

.icon {
  margin-right: theme.$amino-space-16;
  width: theme.$amino-space-32;
  height: theme.$amino-space-32;
  border-radius: theme.$amino-radius-6;
}
