@use 'theme';

.styledVStack {
  border: 1px solid theme.$amino-gray-200;
  padding: 16px;
  margin-bottom: 24px;
  width: 640px;
  border-radius: 16px;
}

.label {
  display: flex;
  justify-content: center;
  background: theme.$amino-gray-300;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
}

.textSizesLabel {
  margin-right: 10px;
  font-size: 14px;
}
