@use 'theme';

.regionLabel {
  font-weight: bold;
}

.regionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: theme.$amino-space-8;
}

.stateCard {
  cursor: pointer;
  width: 180px;
  display: flex;
  gap: theme.$amino-space-24;
  height: fit-content;
  align-items: center;
  font-weight: 500;
  flex: 0 0 180px;
  font-size: theme.$amino-font-size-s;

  &:not(.highlighted):hover {
    background-color: theme.$amino-gray-50;
  }

  &.highlighted {
    color: theme.$amino-blue-600;
    background-color: theme.$amino-blue-100;
    border: 2px solid theme.$amino-blue-400;

    svg > path {
      stroke: theme.$amino-blue-600;
      fill: theme.$amino-blue-200;
    }
  }
}
