@use 'theme';

$borderRadius: var(--border-radius);
$fontWeight: var(--font-weight);
$order: var(--order);

.badgeWrapper {
  display: inline-block;
}

.styledBadge {
  display: flex;
  gap: theme.$amino-space-4;
  font-size: theme.$amino-font-size-s;
  padding: 2px 8px;
  text-align: center;
  background-color: theme.$amino-gray-100;
  color: theme.$amino-gray-800;
  align-items: center;
  border-radius: $borderRadius;
  font-weight: $fontWeight;
  order: $order;

  p {
    margin: 0;
    line-height: 20px;
  }
  svg {
    height: 20px;
    width: 20px;
  }

  &.bold {
    // bold config default (gray)
    background-color: theme.$amino-gray-600;
    color: theme.$amino-gray-100;
    & svg {
      color: theme.$amino-gray-100;
    }
  }

  // size
  &.small {
    padding: 0px theme.$amino-space-4;
    border-radius: theme.$amino-radius-4;
    gap: 2px;
  }

  &.blue {
    // color config
    background-color: theme.$amino-blue-100;
    color: theme.$amino-blue-800;
    &.bold {
      // bold config
      background-color: theme.$amino-blue-600;
      color: theme.$amino-blue-100;
      & svg {
        color: theme.$amino-blue-100;
      }
    }
  }

  &.green {
    // color config
    background-color: theme.$amino-green-100;
    color: theme.$amino-green-800;
    &.bold {
      // bold config
      background-color: theme.$amino-green-600;
      color: theme.$amino-green-100;
      & svg {
        color: theme.$amino-green-100;
      }
    }
  }

  &.red {
    // color config
    background-color: theme.$amino-red-100;
    color: theme.$amino-red-800;
    &.bold {
      // bold config
      background-color: theme.$amino-red-600;
      color: theme.$amino-red-100;
      & svg {
        color: theme.$amino-red-100;
      }
    }
  }

  &.orange {
    // color config
    background-color: theme.$amino-orange-100;
    color: theme.$amino-orange-800;
    &.bold {
      // bold config
      background-color: theme.$amino-orange-600;
      color: theme.$amino-orange-100;
      & svg {
        color: theme.$amino-orange-100;
      }
    }
  }

  &.purple {
    // color config
    background-color: theme.$amino-purple-100;
    color: theme.$amino-purple-800;
    &.bold {
      // bold config
      background-color: theme.$amino-purple-600;
      color: theme.$amino-purple-100;
      & svg {
        color: theme.$amino-purple-100;
      }
    }
  }

  &.cyan {
    // color config
    background-color: theme.$amino-cyan-100;
    color: theme.$amino-cyan-800;
    &.bold {
      // bold config
      background-color: theme.$amino-cyan-600;
      color: theme.$amino-cyan-100;
    }
  }
}
