@use 'theme';

.controlsValueWrapper {
  display: flex;
  align-items: center;
  gap: theme.$amino-space-16;

  > svg {
    flex-shrink: 0;
  }
}

.dateControlsWrapper {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: theme.$amino-space-8;
  align-items: center;
}