@use 'theme';

.styledTriggerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: theme.$amino-size-sm;
  padding: 0 theme.$amino-space-12;
  border: 1px solid theme.$amino-border-color;
  border-radius: theme.$amino-radius-6;
}

.styledFilterWrapper {
  position: relative;
}

.styledFilter {
  display: flex;
  padding: theme.$amino-space-16;
  background-color: theme.$amino-gray-0;
  border: 1px solid theme.$amino-gray-200;
  box-shadow: 0 0 1px theme.$amino-gray-400;
  border-radius: theme.$amino-radius-8;
  width: 300px;
  > div {
    width: 100%;
  }

  /** Multi select styling */
  :global(.value-container) {
    overflow-x: auto;
  }
  :global(.multi-value) {
    display: flex;
    height: 22px;
    align-items: center;
    [role='button'] {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}