@use 'theme';

.styledFilterWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: theme.$amino-space-12;
  align-items: center;
}

.styledExpandWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  svg {
    transition: 0.3s all ease;
  }
  :global(.expanding-button) {
    svg {
      transform: rotate(90deg);
    }
  }
}

.styledTableWrapper {
  :global(.expanding) {
    background-color: theme.$amino-gray-50;
  }
  & & {
    padding: theme.$amino-space-4 theme.$amino-space-12 theme.$amino-space-24;
  }
}