@use 'theme';

.styledPivotTableContentWrapper {
  height: 100%;
}

.styledTableHeader {
  display: flex;
  align-items: center;
  padding: theme.$amino-space-8;
}

.styledTableActionWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: theme.$amino-space-8;
}