@use 'theme';
@use 'sass:meta';

$buttonSize: var(--button-size);
$buttonWidth: var(--button-width);
$disabledOpacity: var(--disabled-opacity);
$buttonPadding: var(--button-padding);
$buttonRadius: var(--button-radius);
$buttonFontWeight: var(--button-font-weight);
$aminoColor: var(--amino-color, null);
$backgroundColor: var(--amino-background-color, null);
$hoverBackgroundColor: var(--hover-background-color);

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: theme.$amino-radius-6;
  gap: theme.$amino-space-8;
}

.aminoButton {
  background: $backgroundColor;
  color: $aminoColor;
  padding: $buttonPadding;
  font-weight: $buttonFontWeight;
  border-radius: $buttonRadius;
  position: relative;
  outline: none;
  height: $buttonSize;
  line-height: $buttonSize;
  font-size: theme.$amino-font-size-base;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition:
    theme.$amino-transition,
    visibility 0;
  user-select: none;
  font-family: theme.$amino-font-sans;
  letter-spacing: normal;
  cursor: pointer;
  white-space: nowrap;
  width: $buttonWidth;
  text-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.02),
    0px 1px 2px rgba(0, 0, 0, 0.04);

  svg path:not([data-is-secondary-color]) {
    fill: currentColor;
  }

  .text {
    padding: 0 theme.$amino-space-4;
  }

  &.onlyIcon {
    width: $buttonSize;
    padding: 0;
  }

  &.onlyIcon .text {
    padding: 0;
  }

  &:active,
  &:focus {
    svg path:not([data-is-secondary-color]) {
      fill: currentColor;
    }
  }

  &:focus {
    outline: none;
  }

  &:active:not([disabled]) {
    transform: scale(0.99);
  }

  &.loading .content {
    visibility: hidden;
  }

  &:not(.onlyIcon).hasIcon {
    &.iconRight {
      svg:not(.amino-spinner) {
        margin-left: 2px;
        margin-right: 0;
        opacity: 80%;
      }
    }
    svg:not(.amino-spinner) {
      margin-right: 2px;
      margin-left: 0;
      opacity: 80%;
    }
  }

  &:not([disabled]) {
    &:hover {
      background-image: $hoverBackgroundColor;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: $disabledOpacity;
  }

  &.primaryButton {
    box-shadow: theme.$amino-shadow-button-primary;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-blue-700;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }

    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }

    & .spinnerWrapper {
      background: theme.$amino-primary;
    }

    &.outline {
      color: theme.$amino-primary;
      box-shadow: 0px 0px 0px 1px theme.$amino-primary inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-blue-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-blue-200;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-primary inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.successButton {
    box-shadow: theme.$amino-shadow-button-success;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-green-700;
      }
      &:focus {
        box-shadow:
          0px 0px 0px 1px theme.$amino-success inset,
          theme.$amino-button-focus-ring;
      }
    }

    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }

    & .spinnerWrapper {
      background: theme.$amino-success;
    }

    &.outline {
      color: theme.$amino-success;
      box-shadow: 0px 0px 0px 1px theme.$amino-success inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-green-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-green-200;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-success inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.standardButton {
    box-shadow: theme.$amino-shadow-button-standard;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-gray-100;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      .content {
        opacity: 0.6;
      }
    }

    &.outline {
      background: transparent;
      box-shadow: 0px 0px 0px 1px theme.$amino-gray-300 inset;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-gray-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-gray-200;
        }
      }
    }
  }

  &.dangerButton {
    box-shadow: theme.$amino-shadow-button-danger;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-red-700;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }
    & .spinnerWrapper {
      background: theme.$amino-danger;
    }

    &.outline {
      color: theme.$amino-danger;
      box-shadow: 0px 0px 0px 1px theme.$amino-danger inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-red-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-red-200;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-danger inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.warningButton {
    box-shadow: theme.$amino-shadow-button-warning;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-orange-700;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }
    & .spinnerWrapper {
      background: theme.$amino-warning;
    }

    &.outline {
      color: theme.$amino-warning;
      box-shadow: 0px 0px 0px 1px theme.$amino-warning inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-orange-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-orange-200;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-warning inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.subtleButton {
    &:not([disabled]) {
      &:active {
        background: theme.$amino-gray-100;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      .content {
        opacity: 0.6;
      }
    }
  }

  &.linkButton {
    &:not([disabled]) {
      &:active {
        background: theme.$amino-blue-200;
      }
      &:focus {
        box-shadow: theme.$amino-button-focus-ring;
      }
    }
    &[disabled] {
      .content {
        opacity: 0.6;
      }
    }
  }

  &.textButton {
    &:not([disabled]) {
      &:active {
        background: theme.$amino-gray-100;
      }
      &:focus {
        box-shadow: theme.$amino-button-focus-ring;
      }
    }
    &[disabled] {
      .content {
        opacity: 0.6;
      }
    }
    &.loading {
      color: transparent;
    }
  }
}
