@use 'theme';

$button-size: var(--amino-button-size);
$button-width: var(--amino-button-width);
$button-padding: var(--amino-button-padding);
$button-radius: var(--amino-button-radius);
$button-font-weight: var(--amino-button-font-weight);
$amino-color: var(--amino-button-color);
$background-color: var(--amino-button-background-color);
$hover-background-color: var(--amino-button-hover-background-color);
$text-button-color: var(--amino-button-text-button-color);
$text-button-hover-color: var(--amino-button-text-button-hover-color);
$text-button-disabled-color: var(--amino-button-text-button-disabled-color);

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: theme.$amino-radius-6;
  gap: theme.$amino-space-8;
}

.aminoButton {
  background: $background-color;
  color: $amino-color;
  padding: $button-padding;
  font-weight: $button-font-weight;
  border-radius: $button-radius;
  position: relative;
  outline: none;
  height: $button-size;
  line-height: $button-size;
  font-size: theme.$amino-font-size-base;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition:
    theme.$amino-transition,
    visibility 0;
  user-select: none;
  font-family: theme.$amino-font-sans;
  letter-spacing: normal;
  cursor: pointer;
  white-space: nowrap;
  width: $button-width;
  text-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.04),
    0px 1px 2px rgba(0, 0, 0, 0.02);

  svg path:not([data-is-secondary-color]) {
    fill: currentColor;
  }

  .text {
    padding: 0 theme.$amino-space-4;
  }

  &.onlyIcon {
    width: $button-size;
    padding: 0;
  }

  &.onlyIcon .text {
    padding: 0;
  }

  &:active,
  &:focus {
    svg path:not([data-is-secondary-color]) {
      fill: currentColor;
    }
  }

  &:focus {
    outline: none;
  }

  &:active:not([disabled]) {
    transform: scale(0.99);
  }

  &.loading .content {
    visibility: hidden;
  }

  &:not(.onlyIcon).hasIcon {
    &.iconRight {
      svg:not(.amino-spinner) {
        margin-left: 2px;
        margin-right: 0;
        opacity: 80%;
      }
    }
    svg:not(.amino-spinner) {
      margin-right: 2px;
      margin-left: 0;
      opacity: 80%;
    }
  }

  &:not([disabled]) {
    &:hover {
      background-image: $hover-background-color;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: theme.$amino-opacity-disabled;
  }

  &.primaryButton {
    box-shadow: theme.$amino-shadow-button-primary;

    [data-theme='night'] & {
      color: theme.$amino-text-color;
    }

    &:not([disabled]) {
      &:active {
        background: theme.$amino-blue-600;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }

    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }

    & .spinnerWrapper {
      background: theme.$amino-primary;
    }

    &.outline {
      color: theme.$amino-primary;
      box-shadow: 0px 0px 0px 1px theme.$amino-primary inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-blue-50;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-blue-100;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-primary inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.successButton {
    box-shadow: theme.$amino-shadow-button-success;

    [data-theme='night'] & {
      color: theme.$amino-text-color;
    }

    &:not([disabled]) {
      &:active {
        background: theme.$amino-green-600;
      }
      &:focus {
        box-shadow:
          0px 0px 0px 1px theme.$amino-success inset,
          theme.$amino-button-focus-ring;
      }
    }

    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }

    & .spinnerWrapper {
      background: theme.$amino-success;
    }

    &.outline {
      color: theme.$amino-success;
      box-shadow: 0px 0px 0px 1px theme.$amino-success inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-green-50;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-green-100;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-success inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.standardButton {
    box-shadow: theme.$amino-shadow-button-standard;

    &:not([disabled]) {
      &:active {
        background: theme.$amino-gray-100;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      .content {
        opacity: theme.$amino-opacity-disabled;
      }
    }

    &.outline {
      background: transparent;
      box-shadow: 0px 0px 0px 1px theme.$amino-gray-300 inset;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-gray-100;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-gray-200;
        }
      }
    }
  }

  &.invertedButton {
    background: theme.$amino-gray-1000;
    color: theme.$amino-gray-0;
    box-shadow: theme.$amino-shadow-button-standard;

    &:not([disabled]) {
      &:hover {
        background: theme.$amino-gray-900;
      }
      &:active {
        background: theme.$amino-gray-600;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      box-shadow: theme.$amino-shadow-button-disabled;
    }
    & .spinnerWrapper {
      background: theme.$amino-gray-1000;
    }
  }

  &.dangerButton {
    box-shadow: theme.$amino-shadow-button-danger;

    [data-theme='night'] & {
      color: theme.$amino-gray-1000;
    }

    &:not([disabled]) {
      &:active {
        background: theme.$amino-red-600;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }
    & .spinnerWrapper {
      background: theme.$amino-danger;
    }

    &.outline {
      color: theme.$amino-danger;
      box-shadow: 0px 0px 0px 1px theme.$amino-danger inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-red-50;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-red-100;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-danger inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.warningButton {
    box-shadow: theme.$amino-shadow-button-warning;

    [data-theme='night'] & {
      color: theme.$amino-gray-1000;
    }

    &:not([disabled]) {
      &:active {
        background: theme.$amino-orange-600;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      background: theme.$amino-gray-400;
      box-shadow: theme.$amino-shadow-button-disabled;
    }
    & .spinnerWrapper {
      background: theme.$amino-warning;
    }

    &.outline {
      color: theme.$amino-warning;
      box-shadow: 0px 0px 0px 1px theme.$amino-warning inset;
      background: transparent;
      &:not([disabled]) {
        &:hover {
          background-color: theme.$amino-orange-50;
          background-image: unset;
        }
        &:active {
          background: theme.$amino-orange-100;
        }
      }
      &[disabled] {
        background: transparent;
        box-shadow: 0px 0px 0px 1px theme.$amino-warning inset;
      }
      & .spinnerWrapper {
        background: transparent;
      }
    }
  }

  &.subtleButton {
    &:not([disabled]) {
      &:hover {
        background: theme.$amino-gray-50;
      }
      &:active {
        background: theme.$amino-gray-100;
      }
      &:focus {
        box-shadow: theme.$amino-focus-button;
      }
    }
    &[disabled] {
      .content {
        opacity: theme.$amino-opacity-disabled;
      }
    }
  }

  &.linkButton {
    &:not([disabled]) {
      &:active {
        background: theme.$amino-blue-100;
      }
      &:hover {
        background: theme.$amino-blue-50;
      }
      &:focus {
        box-shadow: theme.$amino-button-focus-ring;
      }
    }
    &[disabled] {
      .content {
        opacity: theme.$amino-opacity-disabled;
      }
    }
  }

  &.inlineLinkButton {
    padding: 0;
    display: inline-flex;
    line-height: inherit;

    &:not([disabled]) {
      &:hover,
      &:active {
        color: $text-button-hover-color;
      }
    }
    &[disabled] {
      .content {
        opacity: theme.$amino-opacity-disabled;
      }
    }
  }

  &.textButton {
    color: $text-button-color;
    &:not([disabled]) {
      &:hover {
        color: $text-button-hover-color;
      }
    }
    &[disabled] {
      color: $text-button-disabled-color;
    }
    &.loading {
      color: transparent;
    }
  }
}
