@use 'theme';
@use 'src/animations/DropdownAnimation.module.scss';

.wrapper {
  position: relative;
  display: inline-flex;
}

.dropdownWrapper {
  z-index: 10;
  min-width: 100%;
}

.animatedSurface {
  background: theme.$amino-raised-surface-color;
  border-radius: theme.$amino-radius-12;
  box-shadow: theme.$amino-v3-shadow-large;
  animation: DropdownAnimation 250ms ease-in-out;
  animation-fill-mode: both;
  padding: theme.$amino-space-8;
  margin-top: theme.$amino-space-4;
  right: 0;
  min-width: 100%;
  width: max-content;
}
