@use 'theme';

$font-size: var(--amino-text-font-size);
$font-weight: var(--amino-text-font-weight);
$line-height: var(--amino-text-line-height);
$color: var(--amino-text-color);
$text-transform: var(--amino-text-transform);

.subTitle {
  font-size: theme.$amino-font-size-s;
  line-height: 16px;
  color: theme.$amino-gray-800;
}

.inputLabel {
  color: theme.$amino-gray-1000;
  display: block;
  font-family: theme.$amino-font-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
}

.typography {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  margin: 0;
  color: $color;
  text-transform: $text-transform;

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
