@use 'theme';

$size: var(--amino-thumbnail-size);
$border-radius: var(--amino-thumbnail-border-radius);
$background-color: var(--amino-thumbnail-background-color);
$svg-main-color: var(--amino-thumbnail-svg-main-color);
$svg-secondary-color: var(--amino-thumbnail-svg-secondary-color);

.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: $border-radius;
  box-sizing: content-box;
  background-color: $background-color;

  &.bordered {
    border: calc($size / 16) solid theme.$amino-gray-0;
  }

  &.outline {
    border: 1px solid theme.$amino-gray-200;
    background-color: transparent
  }

  svg {
    color: $svg-main-color;
    width: 60%;
    height: 60%;

    path[data-is-secondary-color] {
      fill: $svg-secondary-color;
    }
  }
}
