@use 'theme';

.wrapper {
  width: min-content;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.scrollableWrapper {
  border: theme.$amino-border;
  margin: 100px;
  display: flex;
  overflow: scroll;
}

