[data-theme='dark'] {
  --amino-gray-l80: #f5f5f6;
  --amino-gray-l60: #d8d8db;
  --amino-gray-l40: #c4c4c9;
  --amino-gray-l20: #b1b1b7;
  --amino-gray-base: #9d9da5;
  --amino-gray-d20: #76767c;
  --amino-gray-d40: #4f4f52;
  --amino-gray-d60: #2f2f31;
  --amino-gray-d80: #232326;
  --amino-blue-l80: #e9ebff;
  --amino-blue-l60: #b4c5ff;
  --amino-blue-l40: #8fa7ff;
  --amino-blue-l20: #698aff;
  --amino-blue-base: #446dff;
  --amino-blue-d20: #3657cc;
  --amino-blue-d40: #294199;
  --amino-blue-d60: #1b2c66;
  --amino-blue-d80: #1d233b;
  --amino-cyan-l80: #e9fcff;
  --amino-cyan-l60: #b5f6ff;
  --amino-cyan-l40: #8ff2ff;
  --amino-cyan-l20: #6aedff;
  --amino-cyan-base: #45e9ff;
  --amino-cyan-d20: #37bacc;
  --amino-cyan-d40: #298c99;
  --amino-cyan-d60: #1c5d66;
  --amino-cyan-d80: #1d363b;
  --amino-red-l80: #fde5eb;
  --amino-red-l60: #f9a8bd;
  --amino-red-l40: #f77d9b;
  --amino-red-l20: #f4517a;
  --amino-red-base: #f12659;
  --amino-red-d20: #c11e47;
  --amino-red-d40: #911735;
  --amino-red-d60: #600f24;
  --amino-red-d80: #371822;
  --amino-orange-l80: #fff0e5;
  --amino-orange-l60: #ffd0ad;
  --amino-orange-l40: #ffb885;
  --amino-orange-l20: #ffa05c;
  --amino-orange-base: #ff8933;
  --amino-orange-d20: #cc6e29;
  --amino-orange-d40: #99521f;
  --amino-orange-d60: #663714;
  --amino-orange-d80: #39271c;
  --amino-green-l80: #e5f9e5;
  --amino-green-l60: #a5eba8;
  --amino-green-l40: #78e07d;
  --amino-green-l20: #4bd651;
  --amino-green-base: #1ecc26;
  --amino-green-d20: #18a31e;
  --amino-green-d40: #127a17;
  --amino-green-d60: #0c520f;
  --amino-green-d80: #17311a;
  --amino-purple-l80: #f5e5ff;
  --amino-purple-l60: #dba8ff;
  --amino-purple-l40: #ca7dff;
  --amino-purple-l20: #b851ff;
  --amino-purple-base: #a626ff;
  --amino-purple-d20: #851ecc;
  --amino-purple-d40: #641799;
  --amino-purple-d60: #420f66;
  --amino-purple-d80: #2c183b;
  --amino-yellow-l80: #fff9e5;
  --amino-yellow-l60: #ffedad;
  --amino-yellow-l40: #ffe485;
  --amino-yellow-l20: #ffdb5c;
  --amino-yellow-base: #ffd233;
  --amino-yellow-d20: #cca829;
  --amino-yellow-d40: #997e1f;
  --amino-yellow-d60: #665414;
  --amino-yellow-d80: #39321c;
  --amino-page-background: var(--amino-gray-50);
  --amino-surface-color: var(--amino-gray-base);
  --amino-surface-color-secondary: var(--amino-gray-50);
  --amino-border-color: var(--amino-gray-l60);
  --amino-text-color: white;
  --amino-input-background: var(--amino-gray-l40);
  --amino-hover-color: var(--amino-gray-l20);
  --amino-v3-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.18);
  --amino-v3-shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.18),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-medium: 0px 2px 4px rgba(0, 0, 0, 0.18),
    0px 4px 6px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-large: 0px 10px 15px rgba(0, 0, 0, 0.3),
    0px 4px 6px rgba(0, 0, 0, 0.15);
  --amino-v3-shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.3),
    0px 10px 10px rgba(0, 0, 0, 0.12);
  --amino-v3-shadow-xxl: 0px 32px 50px rgba(0, 0, 0, 0.72);
  --amino-backdrop-color: var(--amino-gray-l60);
  --amino-header-color: var(--amino-gray-l80);
  --amino-border: 1px solid var(--amino-border-color);
}
