[data-theme='night'] {
  --amino-glass-0: #ffffff00;
  --amino-glass-50: #ffffff0a;
  --amino-glass-100: #ffffff21;
  --amino-glass-200: #ffffff26;
  --amino-glass-300: #ffffff44;
  --amino-glass-400: #ffffff51;
  --amino-glass-500: #ffffff63;
  --amino-glass-600: #ffffff8e;
  --amino-glass-700: #ffffffa8;
  --amino-glass-800: #ffffffc1;
  --amino-glass-900: #ffffffd8;
  --amino-glass-1000: #ffffffea;
  --amino-glass-1100: #fffffff4;
  --amino-glass-1200: #fffffffa;
  --amino-gray-0: #101116;
  --amino-gray-50: #1e1f26;
  --amino-gray-100: #2e3038;
  --amino-gray-200: #40424c;
  --amino-gray-300: #4d505a;
  --amino-gray-400: #5c5e68;
  --amino-gray-500: #6a6d77;
  --amino-gray-600: #94969e;
  --amino-gray-700: #acaeb3;
  --amino-gray-800: #c5c6ca;
  --amino-gray-900: #d9dadd;
  --amino-gray-1000: #eaebed;
  --amino-gray-1100: #f6f6f8;
  --amino-gray-1200: #ffffff;
  --amino-blue-100: #1c2154;
  --amino-blue-200: #252e7e;
  --amino-blue-300: #2c3baf;
  --amino-blue-400: #364bd4;
  --amino-blue-500: #445eee;
  --amino-blue-600: #5f92f6;
  --amino-blue-700: #89b2fa;
  --amino-blue-800: #aacbfc;
  --amino-blue-900: #c5ddfd;
  --amino-blue-1000: #deedfe;
  --amino-cyan-100: #183339;
  --amino-cyan-200: #245660;
  --amino-cyan-300: #26707e;
  --amino-cyan-400: #2c8896;
  --amino-cyan-500: #37a5b4;
  --amino-cyan-600: #4ec6d4;
  --amino-cyan-700: #65e6ef;
  --amino-cyan-800: #8ff6fa;
  --amino-cyan-900: #bafdfd;
  --amino-cyan-1000: #dbfffe;
  --amino-red-100: #49121f;
  --amino-red-200: #641627;
  --amino-red-300: #8c1d33;
  --amino-red-400: #b4223d;
  --amino-red-500: #d92141;
  --amino-red-600: #f95c67;
  --amino-red-700: #fa8b8b;
  --amino-red-800: #fcb4b2;
  --amino-red-900: #fdd3d0;
  --amino-red-1000: #ffedeb;
  --amino-orange-100: #441c13;
  --amino-orange-200: #692c1c;
  --amino-orange-300: #903a1d;
  --amino-orange-400: #b6471b;
  --amino-orange-500: #e5591a;
  --amino-orange-600: #f88c53;
  --amino-orange-700: #fca975;
  --amino-orange-800: #fdc7a0;
  --amino-orange-900: #fed7b8;
  --amino-orange-1000: #ffefe0;
  --amino-green-100: #1c3626;
  --amino-green-200: #245234;
  --amino-green-300: #266e3e;
  --amino-green-400: #298549;
  --amino-green-500: #2b9c4d;
  --amino-green-600: #56c76f;
  --amino-green-700: #7de490;
  --amino-green-800: #a9f9b5;
  --amino-green-900: #c8fdce;
  --amino-green-1000: #e0ffe3;
  --amino-purple-100: #3b1948;
  --amino-purple-200: #54206a;
  --amino-purple-300: #742498;
  --amino-purple-400: #922bc5;
  --amino-purple-500: #ab30ee;
  --amino-purple-600: #bd82f8;
  --amino-purple-700: #cea9fa;
  --amino-purple-800: #ddc5fc;
  --amino-purple-900: #e7d8fd;
  --amino-purple-1000: #f4eeff;
  --amino-transparent-white: #101116bb;
  --amino-transparent-black: #ffffffbb;
  --amino-v3-shadow-base: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.9), 0px 1px 2px rgba(0, 0, 0, 0.8);
  --amino-v3-shadow-medium: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 4px 6px rgba(0, 0, 0, 0.9), 0px 2px 4px rgba(0, 0, 0, 0.8);
  --amino-v3-shadow-large: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 10px 15px rgba(0, 0, 0, 0.9), 0px 4px 6px rgba(0, 0, 0, 0.8);
  --amino-v3-shadow-xl: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 20px 25px rgba(0, 0, 0, 0.9), 0px 10px 10px rgba(0, 0, 0, 0.8);
  --amino-v3-shadow-xxl: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 32px 50px rgba(0, 0, 0, 0.96);
  --amino-v3-shadow-inset: 0px 0px 0px 1px rgba(255, 255, 255, 0.12),
    0px 0px 6px rgba(255, 255, 255, 0.08), 0px 1px 0px #111114,
    0px 2px 4px rgba(0, 0, 0, 0.24), inset 0px 1px 1px rgba(0, 0, 0, 0.24),
    inset 0px 2px 4px rgba(0, 0, 0, 0.24),
    inset 0px 0px 0px 0.5px rgba(0, 0, 0, 0.24),
    inset 0px 0px 8px rgba(0, 0, 0, 0.16);
  --amino-border: 1px solid var(--amino-border-color);
  --amino-border-blue: 1px solid var(--amino-blue-500);
  --amino-border-red: 1px solid var(--amino-red-400);
  --amino-border-cyan: 1px solid var(--amino-cyan-400);
  --amino-border-orange: 1px solid var(--amino-orange-400);
  --amino-border-green: 1px solid var(--amino-green-400);
  --amino-border-purple: 1px solid var(--amino-purple-400);
  --amino-border-amber: 1px solid var(--amino-amber-400);
  --amino-border-transparent: 1px solid transparent;
  --amino-sidebar-color: var(--amino-gray-0);
  --amino-header-color: var(--amino-gray-0);
  --amino-danger: var(--amino-red-600);
  --amino-danger-dark: var(--amino-red-700);
  --amino-error: var(--amino-red-600);
  --amino-primary: var(--amino-blue-600);
  --amino-primary-light: var(--amino-blue-500);
  --amino-primary-dark: var(--amino-blue-800);
  --amino-success: var(--amino-green-300);
  --amino-success-dark: var(--amino-green-700);
  --amino-warning: var(--amino-amber-100);
  --amino-warning-dark: var(--amino-amber-700);
  --amino-glow-error: 0 0 0 1px var(--amino-red-600);
  --amino-glow-blue: 0 0 0 1px var(--amino-primary);
  --amino-glow-cyan: 0 0 0 1px var(--amino-cyan-600);
  --amino-glow-red: 0 0 0 1px var(--amino-red-600);
  --amino-glow-orange: 0 0 0 1px var(--amino-orange-600);
  --amino-glow-green: 0 0 0 1px var(--amino-green-600);
  --amino-glow-purple: 0 0 0 1px var(--amino-purple-600);
  --amino-page-background: var(--amino-gray-0);
  --amino-border-color: var(--amino-gray-200);
  --amino-hover-color: var(--amino-gray-50);
  --amino-text-color: var(--amino-gray-1000);
  --amino-surface-color: var(--amino-gray-50);
  --amino-surface-color-secondary: var(--amino-gray-100);
  --amino-backdrop-color: var(--amino-gray-0);

  /* Fix for dark mode surface hover color. Dark mode surfaces have a lighter color than day mode inverted to see shadows better. */
  .elevated {
    --amino-hover-color: var(--amino-gray-100);
  }
}
