[data-theme='night'] {
  --amino-blue-100: #deecfe;
  --amino-blue-200: #c5dcfd;
  --amino-blue-300: #aac8fc;
  --amino-blue-400: #89adfa;
  --amino-blue-500: #568cf6;
  --amino-blue-600: #435dee;
  --amino-blue-700: #294dbe;
  --amino-blue-800: #263b98;
  --amino-blue-900: #1f2b73;
  --amino-blue-1000: #151943;
  --amino-page-background: var(--amino-gray-50);
  --amino-surface-color: var(--amino-gray-base);
  --amino-surface-color-secondary: var(--amino-gray-50);
  --amino-border-color: var(--amino-gray-l60);
  --amino-text-color: white;
  --amino-input-background: var(--amino-gray-l40);
  --amino-hover-color: var(--amino-gray-l20);
  --amino-v3-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.18);
  --amino-v3-shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.18),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-medium: 0px 2px 4px rgba(0, 0, 0, 0.18),
    0px 4px 6px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-large: 0px 10px 15px rgba(0, 0, 0, 0.3),
    0px 4px 6px rgba(0, 0, 0, 0.15);
  --amino-v3-shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.3),
    0px 10px 10px rgba(0, 0, 0, 0.12);
  --amino-v3-shadow-xxl: 0px 32px 50px rgba(0, 0, 0, 0.72);
  --amino-backdrop-color: var(--amino-gray-l60);
  --amino-header-color: var(--amino-gray-l80);
  --amino-border: 1px solid var(--amino-border-color);
}
