:root,
[data-theme='day'] {
  --amino-transition: all 0.2s ease-in-out 0s;
  --amino-type-scale-base: 16px;
  --amino-glass-0: #10111600;
  --amino-glass-50: #1011160a;
  --amino-glass-100: #10111614;
  --amino-glass-200: #10111626;
  --amino-glass-300: #1011163d;
  --amino-glass-400: #10111656;
  --amino-glass-500: #10111670;
  --amino-glass-600: #1011169b;
  --amino-glass-700: #101116ad;
  --amino-glass-800: #101116bc;
  --amino-glass-900: #101116c6;
  --amino-glass-1000: #101116dd;
  --amino-glass-1100: #101116ef;
  --amino-glass-1200: #101116f5;
  --amino-gray-0: #ffffff;
  --amino-gray-50: #f6f6f8;
  --amino-gray-100: #eaebed;
  --amino-gray-200: #d9dadd;
  --amino-gray-300: #c5c6ca;
  --amino-gray-400: #acaeb3;
  --amino-gray-500: #94969e;
  --amino-gray-600: #6a6d77;
  --amino-gray-700: #5c5e68;
  --amino-gray-800: #4d505a;
  --amino-gray-900: #40424c;
  --amino-gray-1000: #2e3038;
  --amino-gray-1100: #1e1f26;
  --amino-gray-1200: #101116;
  --amino-blue-100: #deedfe;
  --amino-blue-200: #c5ddfd;
  --amino-blue-300: #aacbfc;
  --amino-blue-400: #89b2fa;
  --amino-blue-500: #5f92f6;
  --amino-blue-600: #445eee;
  --amino-blue-700: #364bd4;
  --amino-blue-800: #2c3baf;
  --amino-blue-900: #252e7e;
  --amino-blue-1000: #1c2154;
  --amino-cyan-100: #dbfffe;
  --amino-cyan-200: #bafdfd;
  --amino-cyan-300: #8ff6fa;
  --amino-cyan-400: #65e6ef;
  --amino-cyan-500: #4ec6d4;
  --amino-cyan-600: #37a5b4;
  --amino-cyan-700: #2c8896;
  --amino-cyan-800: #26707e;
  --amino-cyan-900: #245660;
  --amino-cyan-1000: #183339;
  --amino-red-100: #ffedeb;
  --amino-red-200: #fdd3d0;
  --amino-red-300: #fcb4b2;
  --amino-red-400: #fa8b8b;
  --amino-red-500: #f95c67;
  --amino-red-600: #d92141;
  --amino-red-700: #b4223d;
  --amino-red-800: #8c1d33;
  --amino-red-900: #641627;
  --amino-red-1000: #49121f;
  --amino-orange-100: #ffefe0;
  --amino-orange-200: #fed7b8;
  --amino-orange-300: #fdc7a0;
  --amino-orange-400: #fca975;
  --amino-orange-500: #f88c53;
  --amino-orange-600: #e5591a;
  --amino-orange-700: #b6471b;
  --amino-orange-800: #903a1d;
  --amino-orange-900: #692c1c;
  --amino-orange-1000: #441c13;
  --amino-green-100: #e0ffe3;
  --amino-green-200: #c8fdce;
  --amino-green-300: #a9f9b5;
  --amino-green-400: #7de490;
  --amino-green-500: #56c76f;
  --amino-green-600: #2b9c4d;
  --amino-green-700: #298549;
  --amino-green-800: #266e3e;
  --amino-green-900: #245234;
  --amino-green-1000: #1c3626;
  --amino-purple-100: #f4eeff;
  --amino-purple-200: #e7d8fd;
  --amino-purple-300: #ddc5fc;
  --amino-purple-400: #cea9fa;
  --amino-purple-500: #bd82f8;
  --amino-purple-600: #ab30ee;
  --amino-purple-700: #922bc5;
  --amino-purple-800: #742498;
  --amino-purple-900: #54206a;
  --amino-purple-1000: #3b1948;
  --amino-transparent-white: #ffffffbb;
  --amino-transparent-black: #101116bb;
  --amino-v3-shadow-base: 0px 0px 0px 1px rgba(110, 110, 120, 0.1),
    0px 1px 2px rgba(10, 10, 11, 0.06), 0px 1px 3px rgba(10, 10, 11, 0.1);
  --amino-v3-shadow-medium: 0px 0px 0px 1px rgba(110, 110, 120, 0.1),
    0px 4px 6px rgba(10, 10, 11, 0.1), 0px 2px 4px rgba(10, 10, 11, 0.06);
  --amino-v3-shadow-large: 0px 0px 0px 1px rgba(110, 110, 120, 0.1),
    0px 10px 15px rgba(10, 10, 11, 0.1), 0px 4px 6px rgba(10, 10, 11, 0.05);
  --amino-v3-shadow-xl: 0px 0px 0px 1px rgba(110, 110, 120, 0.1),
    0px 20px 25px rgba(10, 10, 11, 0.1), 0px 10px 10px rgba(12, 12, 13, 0.04);
  --amino-v3-shadow-xxl: 0px 0px 0px 1px rgba(110, 110, 120, 0.1),
    0px 32px 50px rgba(10, 10, 11, 0.24);
  --amino-v3-shadow-inset: 0px 1px 0px #ffffff, 0px 2px 4px rgba(0, 0, 0, 0.04),
    inset 0px 1px 1px rgba(0, 0, 0, 0.04), inset 0px 2px 4px rgba(0, 0, 0, 0.04),
    inset 0px 0px 0px 0.5px rgba(0, 0, 0, 0.06),
    inset 0px 0px 8px rgba(0, 0, 0, 0.02);
  --amino-space-negative-80: -5rem;
  --amino-space-negative-76: -4.75rem;
  --amino-space-negative-72: -4.5rem;
  --amino-space-negative-68: -4.25rem;
  --amino-space-negative-64: -4rem;
  --amino-space-negative-60: -3.75rem;
  --amino-space-negative-56: -3.5rem;
  --amino-space-negative-52: -3.25rem;
  --amino-space-negative-48: -3rem;
  --amino-space-negative-44: -2.75rem;
  --amino-space-negative-40: -2.5rem;
  --amino-space-negative-36: -2.25rem;
  --amino-space-negative-32: -2rem;
  --amino-space-negative-28: -1.75rem;
  --amino-space-negative-24: -1.5rem;
  --amino-space-negative-20: -1.25rem;
  --amino-space-negative-16: -1rem;
  --amino-space-negative-12: -0.75rem;
  --amino-space-negative-8: -0.5rem;
  --amino-space-negative-4: -0.25rem;
  --amino-space-0: 0;
  --amino-space-4: 0.25rem;
  --amino-space-8: 0.5rem;
  --amino-space-12: 0.75rem;
  --amino-space-16: 1rem;
  --amino-space-20: 1.25rem;
  --amino-space-24: 1.5rem;
  --amino-space-28: 1.75rem;
  --amino-space-32: 2rem;
  --amino-space-36: 2.25rem;
  --amino-space-40: 2.5rem;
  --amino-space-44: 2.75rem;
  --amino-space-48: 3rem;
  --amino-space-52: 3.25rem;
  --amino-space-56: 3.5rem;
  --amino-space-60: 3.75rem;
  --amino-space-64: 4rem;
  --amino-space-68: 4.25rem;
  --amino-space-72: 4.5rem;
  --amino-space-76: 4.75rem;
  --amino-space-80: 5rem;
  --amino-border: 1px solid var(--amino-border-color);
  --amino-border-blue: 1px solid var(--amino-blue-500);
  --amino-border-red: 1px solid var(--amino-red-400);
  --amino-border-cyan: 1px solid var(--amino-cyan-400);
  --amino-border-orange: 1px solid var(--amino-orange-400);
  --amino-border-green: 1px solid var(--amino-green-400);
  --amino-border-purple: 1px solid var(--amino-purple-400);
  --amino-border-amber: 1px solid var(--amino-amber-400);
  --amino-border-transparent: 1px solid transparent;
  --amino-sidebar-color: var(--amino-gray-0);
  --amino-header-color: var(--amino-gray-0);
  --amino-danger: var(--amino-red-600);
  --amino-danger-dark: var(--amino-red-700);
  --amino-error: var(--amino-red-600);
  --amino-primary: var(--amino-blue-600);
  --amino-primary-light: var(--amino-blue-500);
  --amino-primary-dark: var(--amino-blue-800);
  --amino-success: var(--amino-green-300);
  --amino-success-dark: var(--amino-green-700);
  --amino-warning: var(--amino-amber-100);
  --amino-warning-dark: var(--amino-amber-700);
  --amino-glow-error: 0 0 0 1px var(--amino-red-600);
  --amino-glow-blue: 0 0 0 1px var(--amino-primary);
  --amino-glow-cyan: 0 0 0 1px var(--amino-cyan-600);
  --amino-glow-red: 0 0 0 1px var(--amino-red-600);
  --amino-glow-orange: 0 0 0 1px var(--amino-orange-600);
  --amino-glow-green: 0 0 0 1px var(--amino-green-600);
  --amino-glow-purple: 0 0 0 1px var(--amino-purple-600);
  --amino-page-background: var(--amino-gray-0);
  --amino-border-color: var(--amino-gray-200);
  --amino-hover-color: var(--amino-gray-50);
  --amino-text-color: var(--amino-gray-1000);
  --amino-text-color-secondary: var(--amino-gray-800);
  --amino-surface-color: var(--amino-gray-0);
  --amino-surface-color-secondary: var(--amino-gray-50);
  --amino-backdrop-color: var(--amino-gray-1200);
  --amino-appbar-height: 55px;
  --amino-sidebar-width: 232px;
  --amino-elevation-0: 0;
  --amino-elevation-100: 100;
  --amino-elevation-200: 200;
  --amino-elevation-300: 300;
  --amino-elevation-400: 400;
  --amino-elevation-500: 500;
  --amino-dialog-elevation: var(--amino-elevation-400);
  --amino-toast-elevation: var(--amino-elevation-500);
  --amino-appbar-elevation: var(--amino-elevation-500);
  --amino-size-xl: 56px;
  --amino-size-lg: 48px;
  --amino-size-md: 40px;
  --amino-size-sm: 32px;
  --amino-radius-4: 0.25rem;
  --amino-radius-6: 0.375rem;
  --amino-radius-8: 0.5rem;
  --amino-radius-10: 0.625rem;
  --amino-radius-12: 0.75rem;
  --amino-font-size-3xl: 2.125rem;
  --amino-font-size-2xl: 1.75rem;
  --amino-font-size-xl: 1.375rem;
  --amino-font-size-l: 1.125rem;
  --amino-font-size-base: 0.875rem;
  --amino-font-size-s: 0.75rem;
  --amino-font-size-xs: 0.625rem;
  --amino-line-height-3xl: 118%;
  --amino-line-height-2xl: 119%;
  --amino-line-height-xl: 127%;
  --amino-line-height-l: 133%;
  --amino-line-height-base: 114%;
  --amino-line-height-s: 133%;
  --amino-line-height-xs: 120%;
  --amino-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --amino-font-mono: Operator Mono, MonoLisa, Dank Mono, Menlo, Monaco,
    Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace;
  --amino-font-harmonized-codes: 'Fira Code', var(--amino-font-sans);
  --amino-input-background: inherit;
}
