@use 'theme';

.basicWrapper {
  border: theme.$amino-border;
  background: theme.$amino-gray-100;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.collapseContainer {
  margin: 20px;
  display: flex;
  gap: 40px;
}

.randomCollapseWrapper {
  border: 1px solid gray;
  border-radius: 6px;
}

.actionWrapper {
  display: inline-flex;
  gap: 20px;
}

.styledBanner {
  margin: 16px;
}

.styledChevronRightIcon {
  color: theme.$amino-gray-600;
  transition: theme.$amino-transition;
  transform: rotate(-90deg);

  &.collapsed {
    transform: rotate(0deg);
  }
}

.container {
  width: 500px;
  height: 300px;
  border: theme.$amino-border;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.itemWrapper {
  padding-left: 16px;
}

.itemLabel {
  cursor: pointer;
  display: flex;
  gap: 8px;

  &:focus {
    outline: none;
  }
}
