@use 'theme';

.styledRestState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * {
    text-align: center;
    max-width: 500px;
  }
}

.icon {
  width: 100px;
  height: auto;
  margin-bottom: theme.$amino-space-16;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: theme.$amino-space-8;
}

.action {
  margin-top: theme.$amino-space-24;
  margin-bottom: theme.$amino-space-8;
}
