@use 'theme';

$width: var(--amino-textarea-width);

.textareaWrapper {
  width: $width;
}

.aminoInputWrapper {
  position: relative;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border: 1px solid theme.$amino-border-color;
  border-radius: theme.$amino-radius-12;

  &.disabled {
    * {
      cursor: not-allowed;
    }
    .fields {
      opacity: theme.$amino-opacity-disabled;
    }
    .styledTextarea {
      user-select: none;
    }
  }
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:hover {
    border-color: theme.$amino-gray-300;
  }
}

.styledTextarea {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px 16px;
  outline: none;
  width: 100%;
  border: none;
  font-size: theme.$amino-font-size-base;
  font-weight: 500;
  resize: none;
  min-height: 50px;
  background: theme.$amino-input-background;

  &.hasLabel {
    margin-top: 24px;
    padding-top: 0;

    &::placeholder {
      opacity: 0;
    }

    &.hasContent,
    &:focus {
      &::placeholder {
        opacity: 0.6;
      }
      & + .styledLabelInput {
        top: 11px;
        transform: scale(0.8);
      }
    }
  }

  &::placeholder {
    transition: theme.$amino-transition;
    color: theme.$amino-gray-400;
    font-weight: 400;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &.hasError ~ .styledBorder::after {
    box-shadow: theme.$amino-glow-error;
  }
}

.styledLabelInput {
  color: theme.$amino-gray-800;
  font-size: theme.$amino-font-size-base;
  line-height: theme.$amino-font-size-base;
  position: absolute;
  top: calc(theme.$amino-font-size-base + 6px);
  left: 16px;
  transform-origin: left top;
  transition: theme.$amino-transition;
}

.styledBorder {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: theme.$amino-radius-12;
  }
}

.actions {
  background: theme.$amino-page-background;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
