@use 'theme';

$width: var(--amino-textarea-width);

.fields {
  border-radius: theme.$amino-radius-12;
  border: theme.$amino-border;
  position: relative;
  &:hover {
    border: 1px solid theme.$amino-gray-300;
  }
}

.styledBorder {
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: theme.$amino-radius-12;
  }
}

.styledLabelInput {
  color: theme.$amino-gray-800;
  font-size: theme.$amino-font-size-base;
  line-height: theme.$amino-font-size-base;
  position: absolute;
  filter: blur(0);
  top: calc(theme.$amino-font-size-base + 6px);
  transform-origin: left top;
  transition: theme.$amino-transition;
  left: 16px;
  z-index: 3;
}

.styledTextarea {
  box-sizing: border-box;
  position: relative;
  padding: 0 16px;
  padding-top: 8px;
  outline: none;
  order: 2;
  width: 100%;
  border-radius: theme.$amino-radius-6;
  background: theme.$amino-input-background;
  border: 0;
  font-size: theme.$amino-font-size-base;
  font-weight: 500;
  z-index: 2;
  display: block;

  :-internal-autofill-selected {
    border-radius: theme.$amino-radius-6 0 0 theme.$amino-radius-6;
    & + label + div {
      background-color: #e8f0fe;
    }
  }
  &.hasLabel {
    margin-top: 24px;
    padding: 0 4px 8px 16px;

    &::placeholder {
      opacity: 0;
    }

    &.hasContent,
    &:focus {
      &::placeholder {
        opacity: 0.6;
      }
      & + .styledLabelInput {
        top: 11px;
        transform: scale(0.8);
        & + .styledBorder {
          &::before {
            content: '';
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            height: 25px;
            right: 0;
            background: theme.$amino-input-background;
            border-radius: theme.$amino-radius-6;
          }
        }
      }
    }
  }

  &::placeholder {
    transition: theme.$amino-transition;
    color: theme.$amino-gray-400;
    font-weight: 400;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    & ~ .styledBorder::after {
      box-shadow: theme.$amino-glow-blue;
    }
  }

  &.hasError ~ .styledBorder::after {
    box-shadow: theme.$amino-glow-error;
  }
}

.aminoInputWrapper {
  position: relative;
  width: $width;

  &.disabled {
    * {
      cursor: not-allowed;
    }
    .fields {
      opacity: theme.$amino-opacity-disabled;
    }
    .styledTextarea {
      user-select: none;
    }
  }
}
