@use 'theme';

$collapse-icon-display: var(--amino-collapsible-list-collapse-icon-display);
$primary-icon-display: var(--amino-collapsible-list-primary-icon-display);

.styledCollapse {
  :global(.__icon-wrapper) {
    width: theme.$amino-space-32;
    display: $collapse-icon-display;
  }
}

.styledPrimaryListItem {
  :global(.__icon-wrapper) {
    display: $primary-icon-display;
  }
  svg {
    transition: theme.$amino-transition;
    &.collapsed {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}

.styledList {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &.withBorder {
    padding: theme.$amino-space-8;
    border: 1px solid theme.$amino-gray-200;
    border-radius: theme.$amino-radius-12;
  }
  &.withNegativeMargin {
    margin: theme.$amino-space-negative-24;
  }
}
