@use 'theme';

.styledList {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &.withBorder {
    padding: theme.$amino-space-8;
    border: 1px solid theme.$amino-gray-200;
    border-radius: theme.$amino-radius-12;
  }

  &.withNegativeMargin {
    margin: theme.$amino-space-negative-24;
  }
}