@use 'theme';

.aminoToast {
  background: linear-gradient(
      90deg,
      rgba(148, 150, 158, 0.4) 0%,
      rgba(148, 150, 158, 0) 50%
    ),
    theme.$amino-gray-1000;
  z-index: 999999;
  border-radius: theme.$amino-radius-12;
  color: theme.$amino-gray-0;
  box-shadow: theme.$amino-v3-shadow-large;
  padding: 16px;
  font-weight: 500;
  user-select: none;
  flex: 1;
  line-height: 24px;

  .toastContent {
    align-self: center;
    .toastIcon {
      align-self: flex-start;
    }
  }

  &.persistentToast {
    cursor: pointer;
    user-select: auto;

    &:hover {
      transform: scale(0.95);
    }
  }

  .dismissButton {
    height: 24px;
  }

  & svg {
    color: theme.$amino-gray-500;
  }

  [data-theme='night'] & {
    background: linear-gradient(
        90deg,
        rgba(148, 150, 158, 0.24) 0%,
        rgba(148, 150, 158, 0) 50%
      ),
      theme.$amino-gray-50;
    color: theme.$amino-gray-1000;

    & svg {
      color: theme.$amino-gray-600;
    }
  }

  &.aminoSuccessToast {
    background: linear-gradient(
        90deg,
        rgba(86, 199, 111, 0.4) 0%,
        rgba(86, 199, 111, 0) 50%
      ),
      theme.$amino-gray-1000;

    & svg {
      color: theme.$amino-green-500;
    }

    [data-theme='night'] & {
      background: linear-gradient(
          90deg,
          rgba(86, 199, 111, 0.24) 0%,
          rgba(86, 199, 111, 0) 50%
        ),
        theme.$amino-gray-50;

      & svg {
        color: theme.$amino-green-600;
      }
    }
  }

  &.aminoErrorToast {
    background: linear-gradient(
        90deg,
        rgba(249, 92, 103, 0.4) 0%,
        rgba(249, 92, 103, 0) 50%
      ),
      theme.$amino-gray-1000;

    & svg {
      color: theme.$amino-red-500;
    }

    [data-theme='night'] & {
      background: linear-gradient(
          90deg,
          rgba(249, 92, 103, 0.24) 0%,
          rgba(249, 92, 103, 0) 50%
        ),
        theme.$amino-gray-50;

      & svg {
        color: theme.$amino-red-600;
      }
    }
  }

  &.aminoWarningToast {
    background: linear-gradient(
        90deg,
        rgba(248, 140, 83, 0.4) 0%,
        rgba(248, 140, 83, 0) 50%
      ),
      theme.$amino-gray-1000;

    & svg {
      color: theme.$amino-orange-500;
    }

    [data-theme='night'] & {
      background: linear-gradient(
          90deg,
          rgba(248, 140, 83, 0.24) 0%,
          rgba(248, 140, 83, 0) 50%
        ),
        theme.$amino-gray-50;

      & svg {
        color: theme.$amino-orange-600;
      }
    }
  }

  &.aminoInfoToast {
    background: linear-gradient(
        90deg,
        rgba(95, 146, 246, 0.4) 0%,
        rgba(95, 146, 246, 0) 50%
      ),
      theme.$amino-gray-1000;

    & svg {
      color: theme.$amino-blue-500;
    }

    [data-theme='night'] & {
      background: linear-gradient(
          90deg,
          rgba(95, 146, 246, 0.24) 0%,
          rgba(95, 146, 246, 0) 50%
        ),
        theme.$amino-gray-50;

      & svg {
        color: theme.$amino-blue-600;
      }
    }
  }
}
