$bottom: var(--amino-toast-context-bottom);
$left: var(--amino-toast-context-left);

.toastsWrapper {
  bottom: $bottom;
  left: $left;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
