@use 'theme';

$bottom: var(--amino-toast-context-bottom);
$left: var(--amino-toast-context-left);
$persistentHeight: var(--amino-toast-persistent-height);
.toastContainer {
  bottom: $bottom;
  left: $left;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  z-index: 9999999;
  pointer-events: none;
  width: 100%;
}

.toastsWrapper {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.toastWrapperAdjust {
  margin-bottom: 16px;
}

.persistentToastsWrapper {
  z-index: 1000;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-height: 60vh;
  min-height: $persistentHeight;

  // Add hover effect for persistent toasts
  &:hover {
    cursor: pointer;
  }

  .clearAllButton {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: theme.$amino-radius-4;
    backdrop-filter: blur(5px);
  }

  &.expanded {
    position: relative;
    width: 100%;

    .clearAllButton {
      margin-bottom: -8px;
    }
  }

  .persistentToast {
    width: 100%;
    z-index: 8;

    &:nth-of-type(1) {
      z-index: 10;
    }
    &:nth-of-type(2) {
      z-index: 9;
    }
  }

  &:not(.expanded) {
    .persistentToast {
      position: absolute;
      scale: 0.5;
      opacity: 0;
      filter: brightness(2);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: bottom center;

      &:nth-of-type(1) {
        bottom: 0;
        scale: 1;
        opacity: 1;
        filter: brightness(1);
      }
      &:nth-of-type(2) {
        bottom: -8px;
        scale: 0.9;
        opacity: 1;
        filter: brightness(1.5);
      }
      &:nth-of-type(3) {
        scale: 0.8;
        opacity: 0.8;
        bottom: -16px;
        filter: brightness(2);
      }
    }
  }
}
