@use 'theme';

.aminoSwitch {
  background: theme.$amino-gray-0;
  box-shadow:
    0px -1px 1px 0px rgba(0, 0, 0, 0.08) inset,
    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transition: theme.$amino-transition;
  position: absolute;
  top: 1px;
  left: 1px;

  &.checked {
    box-shadow:
      0px -1px 1px 0px rgba(68, 94, 238, 0.08) inset,
      0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    left: calc(100% - 15px);
  }

  [data-theme='night'] & {
    background: theme.$amino-gray-1200;
  }
}

.aminoSwitchWithIcons {
  height: 28px;
  width: 28px;
  top: 2px;
  left: 2px;
  box-shadow:
    0px -1px 1px 0px rgba(0, 0, 0, 0.2) inset,
    0px 1px 3px 0px rgba(0, 0, 0, 0.4);

  &.checked {
    left: calc(100% - 30px);
  }

  [data-theme='night'] & {
    background: theme.$amino-gray-200;
  }
}

.aminoSwitchWrapper {
  margin-right: 16px;
  width: 32px;
  height: 16px;
  min-width: 32px;
  min-height: 16px;
  line-height: 16px;
  border-radius: 20px;
  background: theme.$amino-gray-100;
  box-shadow: theme.$amino-v3-shadow-inset;
  display: block;
  user-select: none;
  position: relative;

  &.checked {
    background: theme.$amino-primary;
  }

  &.withoutLabel {
    margin-right: 0;
  }
}

.aminoSwitchWrapperWithIcons.aminoSwitchWrapperWithIcons {
  width: 62px;
  height: 32px;
  min-width: 24px;
  background: theme.$amino-gray-50;
}

.styledLabel {
  margin-bottom: 0;
}

.styledLabelDescription {
  margin-left: 4px;
  color: theme.$amino-gray-600;
}

.labelWrapper {
  display: flex;
  align-items: center;
  line-height: 16px;

  svg {
    margin-right: 4px;
  }
}

.switchContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &.disabled {
    .aminoSwitchWrapper {
      opacity: theme.$amino-opacity-disabled;
    }
    .aminoSwitch {
      opacity: 0.95;
    }
    .styledLabel {
      color: theme.$amino-gray-600;
    }
    .styledSubtitle {
      color: theme.$amino-gray-400;
    }

    cursor: not-allowed;
  }
}

.switchIcon {
  position: absolute;
  top: 4px;
  left: auto;
  right: 4px;

  &.left {
    left: 4px;
    right: auto;
  }

  svg {
    height: 24px;
    width: 24px;
  }
}
