@use 'theme';

$height: var(--amino-dialog-stories-height);

.styledDialog {
  height: $height;
}

.centeredDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverDiv {
  width: 100%;
  height: 100px;
  padding: 10px;

  &:hover {
    background-color: theme.$amino-hover-color;
  }
}

.styledTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}