@use 'theme';

.buttonGroup {
  border-radius: 6px;
  width: fit-content;

  > * {
    border-right: none;

    &:focus {
      z-index: 100;
    }
  }

  > *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
  
  > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > *:last-child {
    border-right: none;
  }
}
