@use 'theme';

.buttonGroup {
  border-radius: theme.$amino-radius-6;
  width: fit-content;

  > *,
  :global(.menu-button-action) *,
  > :global(.tooltip-wrapper) * {
    &:focus {
      z-index: 1;
    }
  }

  > *:not(:first-child) {
    &,
    :global(.menu-button-action) *,
    &:global(.tooltip-wrapper) * {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
  }
  > *:not(:last-child) {
    &,
    :global(.menu-button-action) *,
    &:global(.tooltip-wrapper) * {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
