@use 'theme';

$height: var(--amino-pivot-table-height);
$min-height: var(--amino-pivot-table-min-height);

.sortStatus {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.styledWrapper {
  height: $height;
  min-height: $min-height;
  position: relative;
  :global(.data-grid) {
    block-size: 100%;
    border-radius: theme.$amino-radius-8;
    background-color: inherit;
    :global(.rdg-row) {
      background-color: theme.$amino-gray-0;
      color: theme.$amino-text-color;
    }
  }
  :global(.rdg-header-row),
  :global(.rdg-summary-row) {
    background-color: theme.$amino-gray-100;
    color: theme.$amino-text-color;
    font-weight: 700;
  }
  :global(.rdg-cell) {
    border: 1px solid theme.$amino-gray-200;
  }
}
