@use 'theme';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.componentWrapper {
  border: theme.$amino-border;
  border-radius: 12px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.componentHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.searchInput {
  padding: 8px 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;

  > input {
    flex-grow: 1;
    padding: 0 4px;
    background: theme.$amino-input-background;

    &:focus {
      outline: none;
    }
  }
}

.headerActions {
  padding: 4px 0;
}

.selectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: auto;
}

.noCountriesWrapper {
  padding: 8px;
}

.checkboxWrapper {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.hoverWrapper {
  border-radius: 6px;

  &:hover {
    background-color: theme.$amino-hover-color;
  }
}

.groupWrapper {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.collapseButton {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  &:focus {
    outline: none;
  }
}

.collapseIcon {
  transition: theme.$amino-transition;
  &.collapsed {
    transform: rotate(180deg);
  }
}

.countriesWrapper {
  padding-left: 24px;
  display: grid;
  gap: 8px;
  // 1-2 columns
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%/2, max(300px, 100%/3)), 1fr)
  );
}

.checkboxCountry {
  > div {
    align-items: center;
  }

  div[class*='Amino_Checkbox'] {
    gap: theme.$amino-space-8;
  }
}

.checkboxLabelWrapper {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 16px;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
