@use 'theme';
@use 'src/animations/DropdownAnimation.module.scss';

.menuWrapper {
  border-top: theme.$amino-border;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: visible;

  li {
    cursor: pointer;
  }

  strong {
    font-weight: 500;
  }
}

.userInfo {
  width: 100%;
  border-radius: theme.$amino-radius-6;
  box-sizing: border-box;
  transition: theme.$amino-transition;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;

  &.addSpacing {
    padding: 24px;
  }

  &:hover {
    background: theme.$amino-hover-color;
  }

  * {
    margin-bottom: 0;
  }

  span {
    font-size: 0.85rem;
  }
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 16px;
}

.storeItem {
  padding: 16px;
  transition: theme.$amino-transition;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  & + & {
    margin-top: -16px;
  }

  &:hover {
    background: theme.$amino-hover-color;
  }

  * {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
  }

  & > div {
    margin-right: 16px;
  }
}

.animatedSurface {
  animation: DropdownAnimationInverse 250ms ease-in-out;
  animation-fill-mode: both;
  border: 1px solid theme.$amino-border-color;
  z-index: 100;
  position: absolute;
  padding: 6px 0;
  min-width: 100%;
  width: max-content;

  left: 16px;
  bottom: 16px;
}

.styledSubtitle {
  opacity: 0.7;
  font-style: italic;
}

.styledVStack {
  text-align: left;
  min-width: 145.17px;
}
