@import url('https://rsms.me/inter/inter.css');

html {
  font-size: var(--amino-type-scale-base);
  font-family: var(--amino-font-sans);
  color: var(--amino-text-color);
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--amino-font-sans);
  font-size: var(--amino-text-base);
  background: var(--amino-page-background);
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--amino-font-sans);
  color: var(--amino-text-color);
}

h1 {
  font-size: var(--amino-text-xxl);
  font-weight: 500;
}

h2 {
  font-size: var(--amino-text-xl);
  font-weight: 500;
}

h3 {
  font-size: var(--amino-text-lg);
  font-weight: 500;
}

h4 {
  font-size: var(--amino-text-md);
  font-weight: 500;
}

h5 {
  font-size: var(--amino-text-base);
  font-weight: 400;
}

h6 {
  font-size: var(--amino-text-sm);
  font-weight: 500;
}

/* Dialog */
.amino-dialog-enter {
  opacity: 0;
  transform: translateY(10px);
}
.amino-dialog-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.amino-dialog-exit {
  opacity: 1;
}
.amino-dialog-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 200ms, transform 200ms;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

/* Backdrop */
.amino-backdrop-enter {
  opacity: 0;
}
.amino-backdrop-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.amino-backdrop-exit {
  opacity: 1;
}
.amino-backdrop-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.no-scroll {
  overflow: hidden;
}

.toasts-wrapper {
  position: fixed;
  z-index: 9999999;
  bottom: var(--amino-space-double);
  right: var(--amino-space-double);
}
