:root {
  /* Colors */
  --amino-gray-lightest: #f7f8fa;
  --amino-gray-lighter: #fcfcfc;
  --amino-gray-light: #e7eaef;
  --amino-gray-base: #2D3748;
  --amino-gray-dark: #1A202C;

  --amino-red-lightest: #ffe3e3;
  --amino-red-light: #ffa8a8;
  --amino-red-base: #fa5252;
  --amino-red-dark: #c92a2a;

  --amino-blue-lightest: #d0ebff;
  --amino-blue-light: #74c0fc;
  --amino-blue-base: #228be6;
  --amino-blue-dark: #1971c2;

  --amino-orange-lightest: #ffe8cc;
  --amino-orange-light: #ffc078;
  --amino-orange-base: #fd7e14;
  --amino-orange-dark: #d9480f;

  --amino-green-lightest: #d3f9d8;
  --amino-green-light: #8ce99a;
  --amino-green-base: #40c057;
  --amino-green-dark: #2b8a3e;

  /* Helpers */
  --amino-primary: var(--amino-blue-base);
  --amino-primary-light: var(--amino-blue-light);
  --amino-primary-dark: var(--amino-blue-dark);

  --amino-success: var(--amino-green-base);
  --amino-warning: var(--amino-orange-base);
  --amino-error: var(--amino-red-base);

  --amino-border-color: var(--amino-gray-light);
  --amino-page-background: var(--amino-gray-lightest);

  /* Shadows */
  --amino-shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --amino-shadow-medium: 0 0 0 1px rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
  --amino-shadow-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --amino-shadow-glow: 0 0 0 3px var(--amino-blue-lightest);
  --amino-shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);


  /* Text */
  --amino-font-size: 14px;
  --amino-text-light: white;
  --amino-text-dark: rgb(62, 62, 64);

  /* Layout */
  --amino-space: 16pt;
  --amino-space-negative: -16pt;
  --amino-space-half: 8pt;
  --amino-space-half-negative: -8pt;
  --amino-space-quarter: 4pt;
  --amino-space-quarter-negative: -4pt;
  --amino-space-double: 32pt;
  --amino-space-double-negative: -32pt;

  --amino-radius: 5px;
  --amino-radius-large: 8px;

  /*TODO: page widths and breakpoints*/

  /* Font stack */
  --amino-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --amino-font-mono: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  /* Animation */
  --amino-transition: all 0.2s ease 0s;
}

html {
  font-size: var(--amino-font-size);
  font-family: var(--amino-font-sans);
  color: var(--amino-text-dark);
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--amino-font-sans);
  font-size: 1em;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--amino-font-sans);
  margin-bottom: 0.625rem;
}

h1 {
  font-size: 3rem;
  /*letter-spacing: -0.066875rem;*/
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
  /*letter-spacing: -0.020625rem;*/
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  /*letter-spacing: -0.029375rem;*/
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
}
