.split-horizontal {
  display: flex;
  width: 100%;
  height: 100%;
}
.split-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gutter {
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--amino-gray-200);
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}
.gutter:hover {
  background: var(--amino-blue-300);
}
.gutter-dragging:hover {
  background: var(--amino-blue-400);
}

.pane {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}
.pane:not(.pane-dragging) {
  transition: 0.3s flex-basis ease;
}
.pane[style*='flex-basis: 0%'] + .gutter {
  display: none;
}
.pane-dragging {
  overflow: hidden;
}
