:root {
  /* Colors */
  --amino-gray-lightest: #f4f5f7;
  --amino-gray-lighter: hsl(210, 14%, 95%);
  --amino-gray-light: hsl(210, 5%, 84%);
  --amino-gray-base: hsl(192, 2%, 52%);
  --amino-gray-dark: hsl(204, 4%, 26%);
  --amino-gray-darker: #1e2024;

  --amino-red-lightest: #fde7e9;
  --amino-red-light: #e75d5e;
  --amino-red-base: #da3939;
  --amino-red-dark: #b41e1f;

  --amino-blue-lightest: #bfdcfc;
  --amino-blue-light: #3c91ec;
  --amino-blue-base: #1c74d8;
  --amino-blue-dark: #1e5898;

  --amino-orange-lightest: #fceed1;
  --amino-orange-light: #f09835;
  --amino-orange-base: #e4771b;
  --amino-orange-dark: #c45307;

  --amino-green-lightest: #e1f7eb;
  --amino-green-light: #44a575;
  --amino-green-base: #33855d;
  --amino-green-dark: #27684a;

  /* Tokens */
  --amino-page-background: var(--amino-gray-lightest);
  --amino-border-color: #d8dee488;
  --amino-hover-color: #e1e4e955;
  --amino-text-color: var(--amino-gray-darker);
  --amino-font-size: 14px;
  --amino-primary: var(--amino-blue-base);
  --amino-primary-light: var(--amino-blue-light);
  --amino-primary-dark: var(--amino-blue-dark);
  --amino-success: var(--amino-green-base);
  --amino-warning: var(--amino-orange-base);
  --amino-error: var(--amino-red-base);
  --amino-surface-color: white;
  --amino-surface-color-secondary: var(--amino-gray-lightest);

  /* Shadows */
  --amino-shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --amino-shadow-medium: 0 1.9px 5.1px rgba(0, 0, 0, 0.024),
    0 6.5px 17.2px rgba(0, 0, 0, 0.036), 0 29px 77px rgba(0, 0, 0, 0.06);
  --amino-shadow-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --amino-shadow-glow: 0 0 0 3px var(--amino-blue-lightest);
  --amino-shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --amino-shadow-soft: 0 0.7px 1.5px rgba(0, 0, 0, 0.021),
    0 2.2px 5.1px rgba(0, 0, 0, 0.027), 0 10px 23px rgba(0, 0, 0, 0.05);
  /*TODO: would love for this soft shadow to be part of the scale...*/
  --amino-shadow-top: rgb(136, 136, 136) 0px 1px 3px -2px;
  --amino-shadow-top-primary: var(--amino-primary) 0px 1px 3px -2px;

  /* Text */
  --amino-text-light: white;
  --amino-text-dark: var(--amino-text-color);

  /* Layout */
  --amino-space: 16pt;
  --amino-space-negative: -16pt;
  --amino-space-half: 8pt;
  --amino-space-half-negative: -8pt;
  --amino-space-quarter: 4pt;
  --amino-space-quarter-negative: -4pt;
  --amino-space-double: 32pt;
  --amino-space-double-negative: -32pt;

  --amino-radius: 6px;
  --amino-radius-large: 10px;

  /*TODO: page widths and breakpoints*/

  /* Font stack */
  --amino-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --amino-font-mono: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  /* Animation */
  --amino-transition: all 0.2s ease-in-out 0s;
}

/*WIP dark theme*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --amino-gray-lightest: #171c22;*/
/*    --amino-gray-lighter: #1d2229;*/
/*    --amino-gray-light: #2c3138;*/
/*    --amino-gray-base: #7f8997;*/
/*    --amino-gray-dark: hsl(204, 4%, 26%);*/
/*    --amino-gray-darker: #1e2024;*/

/*    --amino-page-background: var(--amino-gray-lighter);*/
/*    --amino-border-color: #171c2288;*/
/*    --amino-hover-color: #2a323d;*/
/*    --amino-surface-color: var(--amino-gray-light);*/
/*    --amino-surface-color-secondary: #1d222988;*/
/*    --amino-text-dark: white;*/
/*    --amino-text-color: white;*/
/*  }*/
/*}*/
