:root {
  --amino-transition: all 0.2s ease-in-out 0s;
  --amino-type-scale-base: 16px;
  --amino-black: #0c0c0d;
  --amino-gray-0: white;
  --amino-gray-100: #efeff0;
  --amino-gray-200: #e4e4e7;
  --amino-gray-300: #c8c8cb;
  --amino-gray-400: #abacb2;
  --amino-gray-500: #96979e;
  --amino-gray-600: #80818a;
  --amino-gray-700: #686970;
  --amino-gray-800: #4f5257;
  --amino-gray-900: #36383d;
  --amino-gray-1000: #2b2c32;
  --amino-gray-1100: #1d1f24;
  --amino-gray-1200: #121417;
  --amino-gray-1300: #0a0a0b;
  --amino-gray-l80: var(--amino-gray-100);
  --amino-gray-l60: var(--amino-gray-200);
  --amino-gray-l40: var(--amino-gray-300);
  --amino-gray-l20: var(--amino-gray-400);
  --amino-gray-base: var(--amino-gray-600);
  --amino-gray-d20: var(--amino-gray-700);
  --amino-gray-d40: var(--amino-gray-800);
  --amino-gray-d60: var(--amino-gray-900);
  --amino-gray-d80: var(--amino-gray-1000);
  --amino-gray-alpha: #f9fafb;
  --amino-gray-50: #f9fafb;
  --amino-blue-100: #e8ebfc;
  --amino-blue-200: #c9cff8;
  --amino-blue-300: #96a2f3;
  --amino-blue-400: #7081f0;
  --amino-blue-500: #586cee;
  --amino-blue-600: #475fe9;
  --amino-blue-700: #3a4ecf;
  --amino-blue-800: #2a3bac;
  --amino-blue-900: #1c2662;
  --amino-blue-1000: #13193f;
  --amino-blue-l80: var(--amino-blue-100);
  --amino-blue-l60: var(--amino-blue-200);
  --amino-blue-l40: var(--amino-blue-300);
  --amino-blue-l20: var(--amino-blue-400);
  --amino-blue-base: var(--amino-blue-600);
  --amino-blue-d20: var(--amino-blue-700);
  --amino-blue-d40: var(--amino-blue-800);
  --amino-blue-d60: var(--amino-blue-900);
  --amino-blue-d80: var(--amino-blue-1000);
  --amino-blue-alpha: #2190ff80;
  --amino-blue-50: #ebf5ff;
  --amino-cyan-100: #e9fbfb;
  --amino-cyan-200: #cbf6f4;
  --amino-cyan-300: #9aefec;
  --amino-cyan-400: #7beae7;
  --amino-cyan-500: #4fe3de;
  --amino-cyan-600: #4ad3cf;
  --amino-cyan-700: #44c5c1;
  --amino-cyan-800: #32a4a0;
  --amino-cyan-900: #225e5c;
  --amino-cyan-1000: #173b3a;
  --amino-cyan-l80: var(--amino-cyan-100);
  --amino-cyan-l60: var(--amino-cyan-200);
  --amino-cyan-l40: var(--amino-cyan-300);
  --amino-cyan-l20: var(--amino-cyan-400);
  --amino-cyan-base: var(--amino-cyan-600);
  --amino-cyan-d20: var(--amino-cyan-700);
  --amino-cyan-d40: var(--amino-cyan-800);
  --amino-cyan-d60: var(--amino-cyan-900);
  --amino-cyan-d80: var(--amino-cyan-1000);
  --amino-red-100: #fce8ed;
  --amino-red-200: #f8c9d4;
  --amino-red-300: #f396ac;
  --amino-red-400: #f0708e;
  --amino-red-500: #ee587b;
  --amino-red-600: #e9476d;
  --amino-red-700: #cf3a5d;
  --amino-red-800: #ac2a48;
  --amino-red-900: #631d2d;
  --amino-red-1000: #3f131d;
  --amino-red-l80: var(--amino-red-100);
  --amino-red-l60: var(--amino-red-200);
  --amino-red-l40: var(--amino-red-300);
  --amino-red-l20: var(--amino-red-400);
  --amino-red-base: var(--amino-red-600);
  --amino-red-d20: var(--amino-red-700);
  --amino-red-d40: var(--amino-red-800);
  --amino-red-d60: var(--amino-red-900);
  --amino-red-d80: var(--amino-red-1000);
  --amino-red-alpha: #e0451a80;
  --amino-red-50: #fef2f2;
  --amino-orange-100: #fcf0e8;
  --amino-orange-200: #f8dcc9;
  --amino-orange-300: #f3bb96;
  --amino-orange-400: #f0a370;
  --amino-orange-500: #ee9458;
  --amino-orange-600: #e98847;
  --amino-orange-700: #cf763a;
  --amino-orange-800: #ac5e2a;
  --amino-orange-900: #63391d;
  --amino-orange-1000: #3f2513;
  --amino-orange-l80: var(--amino-orange-100);
  --amino-orange-l60: var(--amino-orange-200);
  --amino-orange-l40: var(--amino-orange-300);
  --amino-orange-l20: var(--amino-orange-400);
  --amino-orange-base: var(--amino-orange-600);
  --amino-orange-d20: var(--amino-orange-700);
  --amino-orange-d40: var(--amino-orange-800);
  --amino-orange-d60: var(--amino-orange-900);
  --amino-orange-d80: var(--amino-orange-1000);
  --amino-orange-alpha: #ffa51e80;
  --amino-orange-50: #fff0e5;
  --amino-green-100: #dcf9ea;
  --amino-green-200: #a8f0ca;
  --amino-green-300: #77e9ac;
  --amino-green-400: #53e497;
  --amino-green-500: #3de188;
  --amino-green-600: #3acf80;
  --amino-green-700: #35ac6c;
  --amino-green-800: #298554;
  --amino-green-900: #1c4f34;
  --amino-green-1000: #173b28;
  --amino-green-l80: var(--amino-green-100);
  --amino-green-l60: var(--amino-green-200);
  --amino-green-l40: var(--amino-green-300);
  --amino-green-l20: var(--amino-green-400);
  --amino-green-base: var(--amino-green-600);
  --amino-green-d20: var(--amino-green-700);
  --amino-green-d40: var(--amino-green-800);
  --amino-green-d60: var(--amino-green-900);
  --amino-green-d80: var(--amino-green-1000);
  --amino-green-alpha: #ecfdf580;
  --amino-green-50: #ecfdf5;
  --amino-purple-100: #f6e8fc;
  --amino-purple-200: #e8c9f8;
  --amino-purple-300: #d496f3;
  --amino-purple-400: #c570f0;
  --amino-purple-500: #bc58ee;
  --amino-purple-600: #b347e9;
  --amino-purple-700: #9d3acf;
  --amino-purple-800: #812aac;
  --amino-purple-900: #4b1d63;
  --amino-purple-1000: #30133f;
  --amino-purple-l80: var(--amino-purple-100);
  --amino-purple-l60: var(--amino-purple-200);
  --amino-purple-l40: var(--amino-purple-300);
  --amino-purple-l20: var(--amino-purple-400);
  --amino-purple-base: var(--amino-purple-600);
  --amino-purple-d20: var(--amino-purple-700);
  --amino-purple-d40: var(--amino-purple-800);
  --amino-purple-d60: var(--amino-purple-900);
  --amino-purple-d80: var(--amino-purple-1000);
  --amino-purple-alpha: #f5f3ff80;
  --amino-purple-50: #f5f3ff;
  --amino-yellow-l80: #fff9e5;
  --amino-yellow-l60: #ffe999;
  --amino-yellow-l40: #ffdd66;
  --amino-yellow-l20: #ffd233;
  --amino-yellow-base: #ffc700;
  --amino-yellow-d20: #cc9f00;
  --amino-yellow-d40: #997700;
  --amino-yellow-d60: #665000;
  --amino-yellow-d80: #39321c;
  --amino-yellow-alpha: #fffbeb80;
  --amino-yellow-50: #fffbeb;
  --amino-yellow-100: var(--amino-yellow-l80);
  --amino-yellow-200: var(--amino-yellow-l60);
  --amino-yellow-300: var(--amino-yellow-l40);
  --amino-yellow-400: var(--amino-yellow-l20);
  --amino-yellow-500: var(--amino-yellow-base);
  --amino-yellow-600: var(--amino-yellow-d20);
  --amino-yellow-700: var(--amino-yellow-d40);
  --amino-yellow-800: var(--amino-yellow-d60);
  --amino-yellow-900: var(--amino-yellow-d80);
  --amino-amber-alpha: #fffbeb80;
  --amino-amber-50: #fffbeb;
  --amino-amber-100: var(--amino-yellow-l80);
  --amino-amber-200: var(--amino-yellow-l60);
  --amino-amber-300: var(--amino-yellow-l40);
  --amino-amber-400: var(--amino-yellow-l20);
  --amino-amber-500: var(--amino-yellow-base);
  --amino-amber-600: var(--amino-yellow-d20);
  --amino-amber-700: var(--amino-yellow-d40);
  --amino-amber-800: var(--amino-yellow-d60);
  --amino-amber-900: var(--amino-yellow-d80);
  --amino-danger: var(--amino-red-600);
  --amino-danger-dark: var(--amino-red-700);
  --amino-error: var(--amino-red-600);
  --amino-primary: var(--amino-blue-600);
  --amino-primary-light: var(--amino-blue-500);
  --amino-primary-dark: var(--amino-blue-800);
  --amino-success: var(--amino-green-300);
  --amino-success-dark: var(--amino-green-700);
  --amino-warning: var(--amino-amber-100);
  --amino-warning-dark: var(--amino-amber-700);
  --amino-glow-error: 0 0 0 1px var(--amino-red-600);
  --amino-glow-blue: 0 0 0 1px var(--amino-primary);
  --amino-glow-cyan: 0 0 0 1px var(--amino-cyan-alpha);
  --amino-glow-red: 0 0 0 1px var(--amino-red-alpha);
  --amino-glow-orange: 0 0 0 1px var(--amino-orange-alpha);
  --amino-glow-green: 0 0 0 1px var(--amino-green-alpha);
  --amino-glow-purple: 0 0 0 1px var(--amino-purple-alpha);
  --amino-page-background: white;
  --amino-border-color: var(--amino-gray-200);
  --amino-hover-color: var(--amino-gray-50);
  --amino-surface-color: white;
  --amino-surface-color-secondary: var(--amino-gray-50);
  --amino-text-light: white;
  --amino-text-color: var(--amino-gray-1000);
  --amino-text-dark: var(--amino-text-color);
  --amino-input-background: white;
  --amino-size-xl: 56px;
  --amino-size-lg: 48px;
  --amino-size-md: 40px;
  --amino-size-sm: 32px;
  --amino-radius-4: 0.25rem;
  --amino-radius-6: 0.375rem;
  --amino-radius-8: 0.5rem;
  --amino-radius-10: 0.625rem;
  --amino-radius-12: 0.75rem;
  --amino-radius-sm: 0.25rem;
  --amino-radius: 0.375rem;
  --amino-radius-lg: 0.5rem;
  --amino-radius-xl: 0.75rem;
  --amino-space-negative-80: -5rem;
  --amino-space-negative-76: -4.75rem;
  --amino-space-negative-72: -4.5rem;
  --amino-space-negative-68: -4.25rem;
  --amino-space-negative-64: -4rem;
  --amino-space-negative-60: -3.75rem;
  --amino-space-negative-56: -3.5rem;
  --amino-space-negative-52: -3.25rem;
  --amino-space-negative-48: -3rem;
  --amino-space-negative-44: -2.75rem;
  --amino-space-negative-40: -2.5rem;
  --amino-space-negative-36: -2.25rem;
  --amino-space-negative-32: -2rem;
  --amino-space-negative-28: -1.75rem;
  --amino-space-negative-24: -1.5rem;
  --amino-space-negative-20: -1.25rem;
  --amino-space-negative-16: -1rem;
  --amino-space-negative-12: -0.75rem;
  --amino-space-negative-8: -0.5rem;
  --amino-space-negative-4: -0.25rem;
  --amino-space-0: 0;
  --amino-space-4: 0.25rem;
  --amino-space-8: 0.5rem;
  --amino-space-12: 0.75rem;
  --amino-space-16: 1rem;
  --amino-space-20: 1.25rem;
  --amino-space-24: 1.5rem;
  --amino-space-28: 1.75rem;
  --amino-space-32: 2rem;
  --amino-space-36: 2.25rem;
  --amino-space-40: 2.5rem;
  --amino-space-44: 2.75rem;
  --amino-space-48: 3rem;
  --amino-space-52: 3.25rem;
  --amino-space-56: 3.5rem;
  --amino-space-60: 3.75rem;
  --amino-space-64: 4rem;
  --amino-space-68: 4.25rem;
  --amino-space-72: 4.5rem;
  --amino-space-76: 4.75rem;
  --amino-space-80: 5rem;
  --amino-space: 1.5rem;
  --amino-space-negative: -1.5rem;
  --amino-space-half: 1rem;
  --amino-space-half-negative: -1rem;
  --amino-space-quarter: 0.5rem;
  --amino-space-quarter-negative: -0.5rem;
  --amino-space-double: 2.5rem;
  --amino-space-double-negative: -2.5rem;
  --amino-appbar-height: 55px;
  --amino-sidebar-width: 264px;
  --amino-sidebar-color: white;
  --amino-header-color: white;
  --amino-backdrop-color: var(--amino-gray-1000);
  --amino-elevation-0: 0;
  --amino-elevation-100: 100;
  --amino-elevation-200: 200;
  --amino-elevation-300: 300;
  --amino-elevation-400: 400;
  --amino-elevation-500: 500;
  --amino-dialog-elevation: var(--amino-elevation-400);
  --amino-toast-elevation: var(--amino-elevation-500);
  --amino-appbar-elevation: var(--amino-elevation-500);
  --amino-v3-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  --amino-v3-shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 1px 3px rgba(0, 0, 0, 0.1);
  --amino-v3-shadow-medium: 0px 2px 4px rgba(0, 0, 0, 0.06),
    0px 4px 6px rgba(0, 0, 0, 0.1);
  --amino-v3-shadow-large: 0px 10px 15px rgba(0, 0, 0, 0.1),
    0px 4px 6px rgba(0, 0, 0, 0.05);
  --amino-v3-shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  --amino-v3-shadow-xxl: 0px 32px 50px rgba(0, 0, 0, 0.24);
  --amino-shadow-inset: var(--amino-v3-shadow-inset);
  --amino-shadow-small: var(--amino-v3-shadow-base);
  --amino-shadow-base: var(--amino-v3-shadow-medium);
  --amino-shadow-medium: var(--amino-v3-shadow-large);
  --amino-shadow-large: var(--amino-v3-shadow-xl);
  --amino-shadow-larger: var(--amino-v3-shadow-xxl);
  --amino-border: 1px solid var(--amino-border-color);
  --amino-border-blue: 1px solid var(--amino-blue-500);
  --amino-border-red: 1px solid var(--amino-red-400);
  --amino-border-cyan: 1px solid var(--amino-cyan-400);
  --amino-border-orange: 1px solid var(--amino-orange-400);
  --amino-border-green: 1px solid var(--amino-green-400);
  --amino-border-purple: 1px solid var(--amino-purple-400);
  --amino-border-amber: 1px solid var(--amino-amber-400);
  --amino-border-transparent: 1px solid transparent;
  --amino-font-size-3xl: 2.125rem;
  --amino-font-size-2xl: 1.75rem;
  --amino-font-size-xl: 1.375rem;
  --amino-font-size-l: 1.125rem;
  --amino-font-size-base: 0.875rem;
  --amino-font-size-s: 0.75rem;
  --amino-font-size-xs: 0.625rem;
  --amino-text-xxl: var(--amino-font-size-3xl);
  --amino-text-xl: var(--amino-font-size-2xl);
  --amino-text-lg: var(--amino-font-size-xl);
  --amino-text-md: var(--amino-font-size-l);
  --amino-text-base: var(--amino-font-size-base);
  --amino-text-sm: var(--amino-font-size-s);
  --amino-text-xs: var(--amino-font-size-xs);
  --amino-line-height-3xl: 118%;
  --amino-line-height-2xl: 119%;
  --amino-line-height-xl: 127%;
  --amino-line-height-l: 133%;
  --amino-line-height-base: 114%;
  --amino-line-height-s: 133%;
  --amino-line-height-xs: 120%;
  --amino-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --amino-font-mono: Operator Mono, MonoLisa, Dank Mono, Menlo, Monaco,
    Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace;
  --amino-font-harmonized-codes: 'Fira Code', var(--amino-font-sans);
}

/* Dark theme */
[data-theme='dark'] {
  --amino-gray-l80: #f5f5f6;
  --amino-gray-l60: #d8d8db;
  --amino-gray-l40: #c4c4c9;
  --amino-gray-l20: #b1b1b7;
  --amino-gray-base: #9d9da5;
  --amino-gray-d20: #76767c;
  --amino-gray-d40: #4f4f52;
  --amino-gray-d60: #2f2f31;
  --amino-gray-d80: #232326;
  --amino-blue-l80: #e9ebff;
  --amino-blue-l60: #b4c5ff;
  --amino-blue-l40: #8fa7ff;
  --amino-blue-l20: #698aff;
  --amino-blue-base: #446dff;
  --amino-blue-d20: #3657cc;
  --amino-blue-d40: #294199;
  --amino-blue-d60: #1b2c66;
  --amino-blue-d80: #1d233b;
  --amino-cyan-l80: #e9fcff;
  --amino-cyan-l60: #b5f6ff;
  --amino-cyan-l40: #8ff2ff;
  --amino-cyan-l20: #6aedff;
  --amino-cyan-base: #45e9ff;
  --amino-cyan-d20: #37bacc;
  --amino-cyan-d40: #298c99;
  --amino-cyan-d60: #1c5d66;
  --amino-cyan-d80: #1d363b;
  --amino-red-l80: #fde5eb;
  --amino-red-l60: #f9a8bd;
  --amino-red-l40: #f77d9b;
  --amino-red-l20: #f4517a;
  --amino-red-base: #f12659;
  --amino-red-d20: #c11e47;
  --amino-red-d40: #911735;
  --amino-red-d60: #600f24;
  --amino-red-d80: #371822;
  --amino-orange-l80: #fff0e5;
  --amino-orange-l60: #ffd0ad;
  --amino-orange-l40: #ffb885;
  --amino-orange-l20: #ffa05c;
  --amino-orange-base: #ff8933;
  --amino-orange-d20: #cc6e29;
  --amino-orange-d40: #99521f;
  --amino-orange-d60: #663714;
  --amino-orange-d80: #39271c;
  --amino-green-l80: #e5f9e5;
  --amino-green-l60: #a5eba8;
  --amino-green-l40: #78e07d;
  --amino-green-l20: #4bd651;
  --amino-green-base: #1ecc26;
  --amino-green-d20: #18a31e;
  --amino-green-d40: #127a17;
  --amino-green-d60: #0c520f;
  --amino-green-d80: #17311a;
  --amino-purple-l80: #f5e5ff;
  --amino-purple-l60: #dba8ff;
  --amino-purple-l40: #ca7dff;
  --amino-purple-l20: #b851ff;
  --amino-purple-base: #a626ff;
  --amino-purple-d20: #851ecc;
  --amino-purple-d40: #641799;
  --amino-purple-d60: #420f66;
  --amino-purple-d80: #2c183b;
  --amino-yellow-l80: #fff9e5;
  --amino-yellow-l60: #ffedad;
  --amino-yellow-l40: #ffe485;
  --amino-yellow-l20: #ffdb5c;
  --amino-yellow-base: #ffd233;
  --amino-yellow-d20: #cca829;
  --amino-yellow-d40: #997e1f;
  --amino-yellow-d60: #665414;
  --amino-yellow-d80: #39321c;
  --amino-page-background: var(--amino-gray-50);
  --amino-surface-color: var(--amino-gray-base);
  --amino-surface-color-secondary: var(--amino-gray-50);
  --amino-border-color: var(--amino-gray-l60);
  --amino-text-color: white;
  --amino-input-background: var(--amino-gray-l40);
  --amino-hover-color: var(--amino-gray-l20);
  --amino-v3-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.18);
  --amino-v3-shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.18),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-medium: 0px 2px 4px rgba(0, 0, 0, 0.18),
    0px 4px 6px rgba(0, 0, 0, 0.3);
  --amino-v3-shadow-large: 0px 10px 15px rgba(0, 0, 0, 0.3),
    0px 4px 6px rgba(0, 0, 0, 0.15);
  --amino-v3-shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.3),
    0px 10px 10px rgba(0, 0, 0, 0.12);
  --amino-v3-shadow-xxl: 0px 32px 50px rgba(0, 0, 0, 0.72);
  --amino-backdrop-color: var(--amino-gray-l60);
  --amino-header-color: var(--amino-gray-l80);
  --amino-border: 1px solid var(--amino-border-color);
}
