:root {
  /* Colors */
/*TODO: HSL for all colors*/
  --amino-gray-lightest: hsl(210, 40%, 98%);
  --amino-gray-lighter: hsl(240, 15%, 92%);
  --amino-gray-light: hsl(245, 14%, 84%);
  --amino-gray-base: hsl(252, 12%, 52%);
  --amino-gray-dark: hsl(247, 46%, 19%);

  --amino-red-lightest: #fde7e9;
  --amino-red-light: #e75d5e;
  --amino-red-base: #da3939;
  --amino-red-dark: #b41e1f;

  --amino-blue-lightest: #bfdcfc;
  --amino-blue-light: #3c91ec;
  --amino-blue-base: #1c74d8;
  --amino-blue-dark: #1e5898;

  --amino-orange-lightest: #fceed1;
  --amino-orange-light: #f09835;
  --amino-orange-base: #e4771b;
  --amino-orange-dark: #c45307;

  --amino-green-lightest: #e1f7eb;
  --amino-green-light: #44a575;
  --amino-green-base: #33855d;
  --amino-green-dark: #27684a;

  /* Tokens */
  --amino-page-background: var(--amino-gray-lightest);
  --amino-border-color: var(--amino-gray-lighter);
  --amino-text-color: var(--amino-gray-dark);
  --amino-font-size: 14px;
  --amino-primary: var(--amino-blue-base);
  --amino-primary-light: var(--amino-blue-light);
  --amino-primary-dark: var(--amino-blue-dark);
  --amino-success: var(--amino-green-base);
  --amino-warning: var(--amino-orange-base);
  --amino-error: var(--amino-red-base);

  /* Shadows */
  --amino-shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --amino-shadow-medium: 0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15);
  --amino-shadow-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --amino-shadow-glow: 0 0 0 3px var(--amino-blue-lightest);
  --amino-shadow-inset: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --amino-shadow-soft:  0 0.7px 1.5px rgba(0, 0, 0, 0.021),
  0 2.2px 5.1px rgba(0, 0, 0, 0.027), 0 10px 23px rgba(0, 0, 0, 0.05);
  /*TODO: would love for this soft shadow to be part of the scale...*/
  --amino-shadow-top: rgb(136, 136, 136) 0px 1px 3px -2px;
  --amino-shadow-top-primary: var(--amino-primary) 0px 1px 3px -2px;

  /* Text */
  --amino-text-light: white;
  --amino-text-dark: var(--amino-text-color);

  /* Layout */
  --amino-space: 16pt;
  --amino-space-negative: -16pt;
  --amino-space-half: 8pt;
  --amino-space-half-negative: -8pt;
  --amino-space-quarter: 4pt;
  --amino-space-quarter-negative: -4pt;
  --amino-space-double: 32pt;
  --amino-space-double-negative: -32pt;

  --amino-radius: 6px;
  --amino-radius-large: 10px;

  /*TODO: page widths and breakpoints*/

  /* Font stack */
  --amino-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --amino-font-mono: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  /* Animation */
  --amino-transition: all 0.2s ease-in-out 0s;
}
