/** Base amino theme scss variable */
$amino-transition: var(--amino-transition);
$amino-type-scale-base: var(--amino-type-scale-base);
$amino-glass-0: var(--amino-glass-0);
$amino-glass-50: var(--amino-glass-50);
$amino-glass-100: var(--amino-glass-100);
$amino-glass-200: var(--amino-glass-200);
$amino-glass-300: var(--amino-glass-300);
$amino-glass-400: var(--amino-glass-400);
$amino-glass-500: var(--amino-glass-500);
$amino-glass-600: var(--amino-glass-600);
$amino-glass-700: var(--amino-glass-700);
$amino-glass-800: var(--amino-glass-800);
$amino-glass-900: var(--amino-glass-900);
$amino-glass-1000: var(--amino-glass-1000);
$amino-glass-1100: var(--amino-glass-1100);
$amino-glass-1200: var(--amino-glass-1200);
$amino-gray-0: var(--amino-gray-0);
$amino-gray-50: var(--amino-gray-50);
$amino-gray-100: var(--amino-gray-100);
$amino-gray-200: var(--amino-gray-200);
$amino-gray-300: var(--amino-gray-300);
$amino-gray-400: var(--amino-gray-400);
$amino-gray-500: var(--amino-gray-500);
$amino-gray-600: var(--amino-gray-600);
$amino-gray-700: var(--amino-gray-700);
$amino-gray-800: var(--amino-gray-800);
$amino-gray-900: var(--amino-gray-900);
$amino-gray-1000: var(--amino-gray-1000);
$amino-gray-1100: var(--amino-gray-1100);
$amino-gray-1200: var(--amino-gray-1200);
$amino-blue-100: var(--amino-blue-100);
$amino-blue-200: var(--amino-blue-200);
$amino-blue-300: var(--amino-blue-300);
$amino-blue-400: var(--amino-blue-400);
$amino-blue-500: var(--amino-blue-500);
$amino-blue-600: var(--amino-blue-600);
$amino-blue-700: var(--amino-blue-700);
$amino-blue-800: var(--amino-blue-800);
$amino-blue-900: var(--amino-blue-900);
$amino-blue-1000: var(--amino-blue-1000);
$amino-cyan-100: var(--amino-cyan-100);
$amino-cyan-200: var(--amino-cyan-200);
$amino-cyan-300: var(--amino-cyan-300);
$amino-cyan-400: var(--amino-cyan-400);
$amino-cyan-500: var(--amino-cyan-500);
$amino-cyan-600: var(--amino-cyan-600);
$amino-cyan-700: var(--amino-cyan-700);
$amino-cyan-800: var(--amino-cyan-800);
$amino-cyan-900: var(--amino-cyan-900);
$amino-cyan-1000: var(--amino-cyan-1000);
$amino-red-100: var(--amino-red-100);
$amino-red-200: var(--amino-red-200);
$amino-red-300: var(--amino-red-300);
$amino-red-400: var(--amino-red-400);
$amino-red-500: var(--amino-red-500);
$amino-red-600: var(--amino-red-600);
$amino-red-700: var(--amino-red-700);
$amino-red-800: var(--amino-red-800);
$amino-red-900: var(--amino-red-900);
$amino-red-1000: var(--amino-red-1000);
$amino-orange-100: var(--amino-orange-100);
$amino-orange-200: var(--amino-orange-200);
$amino-orange-300: var(--amino-orange-300);
$amino-orange-400: var(--amino-orange-400);
$amino-orange-500: var(--amino-orange-500);
$amino-orange-600: var(--amino-orange-600);
$amino-orange-700: var(--amino-orange-700);
$amino-orange-800: var(--amino-orange-800);
$amino-orange-900: var(--amino-orange-900);
$amino-orange-1000: var(--amino-orange-1000);
$amino-green-100: var(--amino-green-100);
$amino-green-200: var(--amino-green-200);
$amino-green-300: var(--amino-green-300);
$amino-green-400: var(--amino-green-400);
$amino-green-500: var(--amino-green-500);
$amino-green-600: var(--amino-green-600);
$amino-green-700: var(--amino-green-700);
$amino-green-800: var(--amino-green-800);
$amino-green-900: var(--amino-green-900);
$amino-green-1000: var(--amino-green-1000);
$amino-purple-100: var(--amino-purple-100);
$amino-purple-200: var(--amino-purple-200);
$amino-purple-300: var(--amino-purple-300);
$amino-purple-400: var(--amino-purple-400);
$amino-purple-500: var(--amino-purple-500);
$amino-purple-600: var(--amino-purple-600);
$amino-purple-700: var(--amino-purple-700);
$amino-purple-800: var(--amino-purple-800);
$amino-purple-900: var(--amino-purple-900);
$amino-purple-1000: var(--amino-purple-1000);
$amino-transparent-white: var(--amino-transparent-white);
$amino-transparent-black: var(--amino-transparent-black);
$amino-transparent-gray-600: var(--amino-transparent-gray-600);
$amino-v3-shadow-base: var(--amino-v3-shadow-base);
$amino-v3-shadow-medium: var(--amino-v3-shadow-medium);
$amino-v3-shadow-large: var(--amino-v3-shadow-large);
$amino-v3-shadow-xl: var(--amino-v3-shadow-xl);
$amino-v3-shadow-xxl: var(--amino-v3-shadow-xxl);
$amino-v3-shadow-inset: var(--amino-v3-shadow-inset);
$amino-shadow-button-primary: var(--amino-shadow-button-primary);
$amino-shadow-button-success: var(--amino-shadow-button-success);
$amino-shadow-button-danger: var(--amino-shadow-button-danger);
$amino-shadow-button-warning: var(--amino-shadow-button-warning);
$amino-button-focus-ring: var(--amino-button-focus-ring);
$amino-shadow-button-standard: var(--amino-shadow-button-standard);
$amino-shadow-button-disabled: var(--amino-shadow-button-disabled);
$amino-shadow-select-base: var(--amino-shadow-select-base);
$amino-shadow-select-active: var(--amino-shadow-select-active);
$amino-shadow-select-error: var(--amino-shadow-select-error);
$amino-space-negative-80: var(--amino-space-negative-80);
$amino-space-negative-76: var(--amino-space-negative-76);
$amino-space-negative-72: var(--amino-space-negative-72);
$amino-space-negative-68: var(--amino-space-negative-68);
$amino-space-negative-64: var(--amino-space-negative-64);
$amino-space-negative-60: var(--amino-space-negative-60);
$amino-space-negative-56: var(--amino-space-negative-56);
$amino-space-negative-52: var(--amino-space-negative-52);
$amino-space-negative-48: var(--amino-space-negative-48);
$amino-space-negative-44: var(--amino-space-negative-44);
$amino-space-negative-40: var(--amino-space-negative-40);
$amino-space-negative-36: var(--amino-space-negative-36);
$amino-space-negative-32: var(--amino-space-negative-32);
$amino-space-negative-28: var(--amino-space-negative-28);
$amino-space-negative-24: var(--amino-space-negative-24);
$amino-space-negative-20: var(--amino-space-negative-20);
$amino-space-negative-16: var(--amino-space-negative-16);
$amino-space-negative-12: var(--amino-space-negative-12);
$amino-space-negative-8: var(--amino-space-negative-8);
$amino-space-negative-4: var(--amino-space-negative-4);
$amino-space-0: var(--amino-space-0);
$amino-space-4: var(--amino-space-4);
$amino-space-8: var(--amino-space-8);
$amino-space-12: var(--amino-space-12);
$amino-space-16: var(--amino-space-16);
$amino-space-20: var(--amino-space-20);
$amino-space-24: var(--amino-space-24);
$amino-space-28: var(--amino-space-28);
$amino-space-32: var(--amino-space-32);
$amino-space-36: var(--amino-space-36);
$amino-space-40: var(--amino-space-40);
$amino-space-44: var(--amino-space-44);
$amino-space-48: var(--amino-space-48);
$amino-space-52: var(--amino-space-52);
$amino-space-56: var(--amino-space-56);
$amino-space-60: var(--amino-space-60);
$amino-space-64: var(--amino-space-64);
$amino-space-68: var(--amino-space-68);
$amino-space-72: var(--amino-space-72);
$amino-space-76: var(--amino-space-76);
$amino-space-80: var(--amino-space-80);
$amino-border: var(--amino-border);
$amino-border-blue: var(--amino-border-blue);
$amino-border-red: var(--amino-border-red);
$amino-border-cyan: var(--amino-border-cyan);
$amino-border-orange: var(--amino-border-orange);
$amino-border-green: var(--amino-border-green);
$amino-border-purple: var(--amino-border-purple);
$amino-border-amber: var(--amino-border-amber);
$amino-border-transparent: var(--amino-border-transparent);
$amino-border-subtle: var(--amino-border-subtle);
$amino-sidebar-color: var(--amino-sidebar-color);
$amino-header-color: var(--amino-header-color);
$amino-danger: var(--amino-danger);
$amino-danger-dark: var(--amino-danger-dark);
$amino-error: var(--amino-error);
$amino-primary: var(--amino-primary);
$amino-primary-light: var(--amino-primary-light);
$amino-primary-dark: var(--amino-primary-dark);
$amino-success: var(--amino-success);
$amino-success-dark: var(--amino-success-dark);
$amino-warning: var(--amino-warning);
$amino-warning-dark: var(--amino-warning-dark);
$amino-glow-error: var(--amino-glow-error);
$amino-glow-blue: var(--amino-glow-blue);
$amino-glow-cyan: var(--amino-glow-cyan);
$amino-glow-red: var(--amino-glow-red);
$amino-glow-orange: var(--amino-glow-orange);
$amino-glow-green: var(--amino-glow-green);
$amino-glow-purple: var(--amino-glow-purple);
$amino-page-background: var(--amino-page-background);
$amino-border-color: var(--amino-border-color);
$amino-hover-color: var(--amino-hover-color);
$amino-text-color: var(--amino-text-color);
$amino-text-color-secondary: var(--amino-text-color-secondary);
$amino-focus-button-standard: var(--amino-focus-button-standard);
$amino-focus-button: var(--amino-focus-button);
$amino-surface-color: var(--amino-surface-color);
$amino-surface-color-secondary: var(--amino-surface-color-secondary);
$amino-backdrop-color: var(--amino-backdrop-color);
$amino-raised-surface-color: var(--amino-raised-surface-color);
$amino-raised-color-secondary: var(--amino-raised-color-secondary);
$amino-button-primary-hover: var(--amino-button-primary-hover);
$amino-button-success-hover: var(--amino-button-success-hover);
$amino-button-danger-hover: var(--amino-button-danger-hover);
$amino-button-warning-hover: var(--amino-button-warning-hover);
$amino-button-standard-hover: var(--amino-button-standard-hover);
$amino-spinner-track-black: var(--amino-spinner-track-black);
$amino-spinner-stroke-black: var(--amino-spinner-stroke-black);
$amino-spinner-track-white: var(--amino-spinner-track-white);
$amino-spinner-stroke-white: var(--amino-spinner-stroke-white);
$amino-appbar-height: var(--amino-appbar-height);
$amino-sidebar-width: var(--amino-sidebar-width);
$amino-elevation-0: var(--amino-elevation-0);
$amino-elevation-100: var(--amino-elevation-100);
$amino-elevation-200: var(--amino-elevation-200);
$amino-elevation-300: var(--amino-elevation-300);
$amino-elevation-400: var(--amino-elevation-400);
$amino-elevation-500: var(--amino-elevation-500);
$amino-dialog-elevation: var(--amino-dialog-elevation);
$amino-toast-elevation: var(--amino-toast-elevation);
$amino-appbar-elevation: var(--amino-appbar-elevation);
$amino-size-xl: var(--amino-size-xl);
$amino-size-lg: var(--amino-size-lg);
$amino-size-md: var(--amino-size-md);
$amino-size-sm: var(--amino-size-sm);
$amino-radius-4: var(--amino-radius-4);
$amino-radius-6: var(--amino-radius-6);
$amino-radius-8: var(--amino-radius-8);
$amino-radius-10: var(--amino-radius-10);
$amino-radius-12: var(--amino-radius-12);
$amino-font-size-3xl: var(--amino-font-size-3xl);
$amino-font-size-2xl: var(--amino-font-size-2xl);
$amino-font-size-xl: var(--amino-font-size-xl);
$amino-font-size-l: var(--amino-font-size-l);
$amino-font-size-base-docs: var(--amino-font-size-base-docs);
$amino-font-size-base: var(--amino-font-size-base);
$amino-font-size-s: var(--amino-font-size-s);
$amino-font-size-xs: var(--amino-font-size-xs);
$amino-line-height-3xl: var(--amino-line-height-3xl);
$amino-line-height-2xl: var(--amino-line-height-2xl);
$amino-line-height-xl: var(--amino-line-height-xl);
$amino-line-height-l: var(--amino-line-height-l);
$amino-line-height-base: var(--amino-line-height-base);
$amino-line-height-s: var(--amino-line-height-s);
$amino-line-height-xs: var(--amino-line-height-xs);
$amino-font-sans: var(--amino-font-sans);
$amino-font-mono: var(--amino-font-mono);
$amino-font-harmonized-codes: var(--amino-font-harmonized-codes);
$amino-input-background: var(--amino-input-background);
