@use 'theme';

.styledRichCheckbox {
  position: relative;
  appearance: none;
  background: theme.$amino-gray-0;
  padding: theme.$amino-space-16;
  padding-right: theme.$amino-space-40;
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-6;
  text-align: left;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: theme.$amino-hover-color;
    border: 1px solid theme.$amino-gray-200;
  }

  &:focus {
    outline: none;
    border: 1px solid theme.$amino-blue-300;
  }
}

.label {
  line-height: 24px;
  [data-state='checked'] & {
    color: theme.$amino-primary;
  }
}

.subtitle {
  [data-state='checked'] & {
    color: theme.$amino-primary;
  }
}

.styledVStack {
  button[data-state='checked'] & {
    background: theme.$amino-blue-100;
    border: 1px solid theme.$amino-blue-300;
    color: theme.$amino-blue-600;
  }

  svg {
    color: theme.$amino-gray-0;
    width: theme.$amino-space-12;
    height: theme.$amino-space-12;
  }
}

.styledIcon {
  position: absolute;
  right: theme.$amino-space-16;
  background: theme.$amino-blue-600;
  content: ' ';
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styledItemContentDiv {
  align-items: center;
  display: grid;
  grid-column-gap: theme.$amino-space-24;

  &.hasIcon {
    grid-template-columns: 30px 1fr;
  }
}
