@use 'theme';

$color: var(--amino-styled-react-select-color);

.iconWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: theme.$amino-gray-700;
  margin-left: var(--amino-space-8);
  margin-right: -2px;
  height: 24px;
  width: 24px;
}

.styledSelectWrapper {
  .reactSelectControl + div {
    z-index: 20;
  }

  &.hasError .reactSelectControl {
    box-shadow: theme.$amino-shadow-select-error !important;
  }
}

.strongLabel {
  font-weight: 600;
}

.checkboxOptionIconWrapper {
  display: flex;
  align-items: center;
  color: $color;
  svg {
    margin-right: 4px;
    color: theme.$amino-gray-1200;
  }
}

.styledSelectOptionWrapper {
  &:not(.isDisabled) {
    &.isFocused,
    &:hover {
      /* The styles are inlined on this component from emotion, so we must override */
      background-color: theme.$amino-gray-100 !important;
    }
  }
}

.selectedSingleOptionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valueContainer {
  flex-grow: 1;
  padding: 4px 8px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.valueContainerLarge {
    flex-direction: column;
    gap: 4px;
  }
}
