@use 'theme';

$color: var(--amino-styled-react-select-color);

.iconWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: theme.$amino-gray-700;
  margin-left: var(--amino-space-8);
  margin-right: -2px;
  height: 24px;
  width: 24px;
}

.inputLabel {
  color: theme.$amino-text-color-secondary;
  display: block;
  margin-bottom: 8px;
}

.hasIcon {
  display: flex;
  align-items: center;
}

.hasValue {
  display: flex;
  align-items: center;
}

.isDisabled {
  opacity: theme.$amino-opacity-disabled;
}

.styledSelectWrapper {
  .reactSelectControl + div {
    z-index: 20;
  }

  .reactSelectControl {
    &.isFocused {
      box-shadow: theme.$amino-shadow-raised-standard !important;

      &:not(.menuIsOpen) {
        box-shadow: theme.$amino-shadow-raised-focus !important;
      }
    }
  }

  &.hasError {
    .hasLabel {
      color: theme.$amino-red-600;
    }

    .reactSelectControl {
      box-shadow: theme.$amino-shadow-raised-error !important;

      &.isFocused:not(.menuIsOpen) {
        box-shadow: theme.$amino-shadow-raised-error-focus !important;
      }
    }
  }
}

.strongLabel {
  font-weight: 600;
}

.checkboxOptionIconWrapper {
  display: flex;
  align-items: center;
  color: $color;
  svg {
    margin-right: 4px;
    color: theme.$amino-gray-1000;
  }
}

.styledSelectOptionWrapper {
  &:not(.isDisabled) {
    &.isFocused,
    &:hover {
      /* The styles are inlined on this component from emotion, so we must override */
      background-color: theme.$amino-gray-50 !important;

      [data-theme='night'] & {
        background-color: theme.$amino-gray-100 !important;
      }
    }
  }
}

.selectedSingleOptionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sm {
  height: 32px;
}

.md {
  height: 40px;
}

.lg {
  height: 48px;
}

.xl {
  height: 56px;
}
