@use 'theme';

.virtualList {
  padding: theme.$amino-space-24;
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-12;
  max-height: 360px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: theme.$amino-space-16;
}

.checkbox {
  &::before {
    content: '';
    z-index: -1;
    display: block;
    width: calc(100% - 48px);
    overflow: hidden;
    position: absolute;
    padding: 16px;
    border-radius: 6px;
    top: -8px;
    left: -10px;
  }

  &:hover {
    &::before {
      background: theme.$amino-hover-color;
    }
  }

  > div {
    height: 24px;
  }
}

.checkboxCountry {
  padding-left: theme.$amino-space-24;
  width: calc(100% - 48px);

  &::before {
    top: -4px;
    left: 12px;
  }

  > div {
    align-items: center;
  }

  div[class*='Amino_Checkbox'] {
    gap: theme.$amino-space-8;
  }
}

.checkboxLabelWrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
