@use 'theme';

.tableContainer {
  width: 100%;
}

.tableStyled {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: theme.$amino-font-size-base;

  > tbody {
    // Loading row
    > tr {
      height: 48px;
      > td.loading {
        padding: 12px;
        .skeletonCellWrapper {
          display: flex;
        }
      }
    }
  }

  &.noHeaders {
    thead {
      display: none;
      max-height: 0;
    }
  }

  &.bordered {
    th {
      border: none;
    }
    tr:first-child {
      td {
        border-top: theme.$amino-border-subtle;
      }
      td:first-child {
        border-top-left-radius: 12px;
      }
    }
    tr:first-child td:last-child {
      border-top-right-radius: 12px;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: 12px;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 12px;
    }
    td:first-child {
      border-left: theme.$amino-border-subtle;
    }
    td:last-child {
      border-right: theme.$amino-border-subtle;
    }
  }

  > thead {
    text-transform: none;

    > tr {
      border-bottom: theme.$amino-border-subtle;
      height: 48px;

      > th {
        position: sticky;
        top: 0px;
        background-color: theme.$amino-gray-0;
        padding: 12px;
        white-space: nowrap;
        border-bottom: theme.$amino-border-subtle;
        z-index: 1;

        &.noPadding {
          padding: 0;
        }
      }
    }
  }

  &.collapsible {
    tr > td:last-child {
      width: 40px;
      > div {
        padding: 0;
      }
    }
    > tbody {
      * {
        transition: theme.$amino-transition;
      }

      > tr:not(:has(.loading)) {
        height: unset;
      }
    }
  }
}

.styledCheckbox {
  padding: 12px;
  display: inline-flex;
}
