@use 'theme';

.tableContainer {
  width: 100%;
}

.tableStyled {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  > thead {
    text-transform: none;

    > tr {
      border-bottom: theme.$amino-border-subtle;
      height: 48px;

      > th {
        position: sticky;
        top: 0px;
        background-color: theme.$amino-gray-0;
        padding: 12px;
        white-space: nowrap;
        border-bottom: theme.$amino-border-subtle;

        &.noPadding {
          padding: 0;
        }
      }
    }
  }

  > tbody {
    > tr {
      height: 48px;

      &.withHover:hover {
        background-color: theme.$amino-hover-color;
      }

      &.clickable {
        cursor: pointer;
      }

      &:not(:hover) {
        :global(.row-hover-show) {
          visibility: collapse;
        }
      }

      > td {
        border-bottom: theme.$amino-border-subtle;
        padding: 12px;

        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.noTruncate {
          max-width: 100%;
          white-space: unset;
          overflow: unset;
        }

        &.noPadding {
          padding: 0;
        }

        &.loading {
          text-align: center;
        }

        &:not(:hover) {
          :global(.cell-hover-show) {
            visibility: collapse;
          }
        }

        &.cellLink {
          padding: 0;

          > a {
            display: block;
            height: 100%;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 12px;

            &.noPadding {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.styledCheckbox {
  padding: 12px;
  display: inline-flex;
}

.skeletonCellWrapper {
  display: flex;
}
