@use 'theme';

$border-color: var(--amino-file-upload-border-color);
$opacity: var(--amino-file-upload-opacity);
$cursor: var(--amino-file-upload-cursor);

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: theme.$amino-space-8 theme.$amino-space-12;
  border-radius: theme.$amino-radius-10;
  border: theme.$amino-border;
  border-color: $border-color;

  opacity: $opacity;
  cursor: $cursor;
}

.styledFileInput {
  outline: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: theme.$amino-space-12;
}

.uploadedFileInfoWrapper {
  display: flex;
  gap: theme.$amino-space-4;
  align-items: center;
}

.removeFileButton {
  margin-left: auto;
}
