@use 'theme';

$height: var(--amino-skeleton-height);
$width: var(--amino-skeleton-width);

@keyframes shimmerAction {
  0% {
    transform: translateX(-100%);
  }
  75%,
  100% {
    transform: translateX(100%);
  }
}

.skeletonWrapper {
  height: $height;
  width: $width;
  border-radius: 20px;
  position: relative;
  background: theme.$amino-gray-100;
  overflow: hidden;

  &.animation {
    &::after {
      animation: 1.4s shimmerAction 0.5s linear infinite;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.08),
        transparent
      );
      content: '';
      position: absolute;
      transform: translateX(-100%);
      inset: 0px;
    }
  }
}
