@use 'theme';

.styledWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 24px;
  padding-bottom: 20px;
}

.styledIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: theme.$amino-v3-shadow-base;
  padding: 16px;
  &.deprecated {
    div {
      text-decoration: line-through;
    }
  }
}