@use 'theme';

$border-top-right-radius: var(--amino-filter-wrapper-border-top-right-radius);
$border-bottom-right-radius: var(
  --amino-filter-wrapper-border-bottom-right-radius
);
$border-right-color: var(--amino-filter-wrapper-border-right-color);

.filterWrapper {
  position: relative;
}

.badgeWrapper {
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  border: 1px dashed theme.$amino-gray-200;
  background-color: transparent;
  color: theme.$amino-gray-700;

  &:global(.active) {
    border: theme.$amino-border;
  }
}

.toggleWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: theme.$amino-space-0;
  padding: theme.$amino-space-4 theme.$amino-space-4;
  border-radius: 100px;
  border-top-right-radius: $border-top-right-radius;
  border-bottom-right-radius: $border-bottom-right-radius;

  &:hover {
    background-color: theme.$amino-hover-color;
  }

  &:global(.active) {
    border-right: 1px solid $border-right-color;
  }
}

.styledDropdownTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: theme.$amino-space-0;
  padding: theme.$amino-space-4 theme.$amino-space-4;
  border-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  &:hover {
    background-color: theme.$amino-hover-color;
  }
}

.filterTitle {
  padding-left: var(--amino-space-4);
  padding-right: var(--amino-space-4);
}

.filterText {
  color: var(--amino-blue-600);
  font-weight: 600;
  padding-left: var(--amino-space-4);
  padding-right: var(--amino-space-4);
}

.dropdownWrapper {
  z-index: 5;
  display: flex;
  min-width: 400px;
  position: absolute;
  border-radius: theme.$amino-radius-12;
  background-color: theme.$amino-page-background;
  box-shadow: theme.$amino-v3-shadow-xl;
  padding: theme.$amino-space-24;
  flex-direction: column;
  gap: theme.$amino-space-24;
  outline: none;
}

.controlsWrapper {
  display: flex;
  flex-direction: column;
  gap: theme.$amino-space-8;
  max-height: 400px;
}
