@use 'theme';

$padding-spacing: var(--amino-card-padding-spacing);
$margin-bottom: var(--amino-card-margin-bottom);
$margin-top: var(--amino-card-margin-top);
$margin: var(--amino-card-margin);
$footer-height: var(--amino-card-footer-height);

.card {
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-6;
  padding: $padding-spacing;
  background: theme.$amino-gray-0;
}

.cardHeader {
  margin: $margin;
  margin-bottom: $margin-bottom;
  padding: $padding-spacing;
  display: flex;
  align-items: center;
  border-bottom: theme.$amino-border;
  height: 65px;
  line-height: 65px;
  user-select: none;

  h5 {
    margin-bottom: 0;
    flex: 1;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $margin;
  padding: $padding-spacing;
  border-top: theme.$amino-border;
  background: theme.$amino-surface-color-secondary;
  margin-top: $margin-top;
  border-bottom-left-radius: theme.$amino-radius-8;
  border-bottom-right-radius: theme.$amino-radius-8;
  height: $footer-height;
}
