@use 'theme';

$border-radius: var(--amino-float-label-input-border-radius);
$height: var(--amino-float-label-input-height);

.styledLabelWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: theme.$amino-input-background;
  border-radius: $border-radius;

  .inputDecorator {
    font-size: theme.$amino-font-size-s;
    line-height: theme.$amino-font-size-s;
    font-weight: 700;
    background: transparent;
    padding: 0 6px;
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.inputPrefix {
      border-top-left-radius: theme.$amino-radius-6;
      border-bottom-left-radius: theme.$amino-radius-6;
    }

    &.inputSuffix {
      order: 3;
      border-top-right-radius: theme.$amino-radius-6;
      border-bottom-right-radius: theme.$amino-radius-6;
    }
  }

  .inputValuePrefix {
    display: flex;
    order: 2;
    align-items: center;
    padding-left: 8px;
    color: theme.$amino-gray-800;
    white-space: nowrap;
  }

  .aminoInput {
    height: $height;
    box-sizing: border-box;
    position: relative;
    padding: 0 theme.$amino-space-16;
    outline: none;
    transition: theme.$amino-transition;
    width: 100%;
    border-radius: $border-radius;
    background: theme.$amino-input-background;
    border: 0;
    order: 2;
    font-weight: 500;

    :-internal-autofill-selected {
      border-radius: theme.$amino-radius-6 0 0 theme.$amino-radius-6;
      & + label + div {
        background-color: #e8f0fe;
      }
    }

    &::placeholder {
      transition: theme.$amino-transition;
      opacity: 0;
    }

    &:-webkit-autofill,
    &:-moz-autofill {
      background-color: theme.$amino-input-background;
      color: theme.$amino-text-color;
    }
  }

  .floatingLabel {
    display: block;
    max-height: 0;
    pointer-events: none;
    order: 1;

    span {
      content: inherit;
      color: theme.$amino-gray-800;
      position: absolute;
      font-size: theme.$amino-font-size-base;
      line-height: theme.$amino-font-size-base;
      display: inline-block;
      filter: blur(0);
      transform-origin: left top;
      transition: theme.$amino-transition;
      margin-left: theme.$amino-space-16;
      top: calc(50% - theme.$amino-font-size-base / 2);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: $border-radius;
    }

    // Checks for disabled on the parent (Input)
    :global(.disabled) & {
      pointer-events: inherit;
      &::after {
        cursor: not-allowed;
        z-index: 1;
      }
    }
  }

  &:not(:global(.no-border)) {
    &:has(input:focus) {
      box-shadow: theme.$amino-glow-blue;
    }

    &:global(.has-error),
    &:global(.has-error):has(input:focus) {
      box-shadow: theme.$amino-glow-error;
    }
  }

  &:global(.has-content),
  &:focus-within {
    .aminoInput {
      &::placeholder {
        opacity: theme.$amino-opacity-disabled;
      }
      & ~ .floatingLabel span {
        top: 11px;
        transform: scale(0.8);
      }
    }
  }

  &:global(.has-value-prefix) {
    .aminoInput {
      padding-left: theme.$amino-space-8;
    }
  }

  &:not(:global(.has-label)) {
    &::placeholder {
      opacity: theme.$amino-opacity-disabled;
    }
  }

  &:global(.has-label) {
    .aminoInput {
      padding: theme.$amino-space-16 theme.$amino-space-4 theme.$amino-space-8
        theme.$amino-space-16;
    }

    .inputValuePrefix {
      align-items: flex-end;
      padding-bottom: 11px;
    }

    &:global(.has-input-prefix) {
      .aminoInput {
        padding-left: 0;
        & ~ .floatingLabel span {
          margin-left: 0;
        }
      }
    }
  }

  &:global(.sm) {
    &:global(.has-label) {
      .aminoInput {
        padding-top: 13px;
        padding-bottom: 0;
      }

      &:global(.has-content),
      &:focus-within {
        .floatingLabel span {
          top: 2px;
        }
      }

      .inputValuePrefix {
        padding-bottom: 0;
        margin-bottom: -1px;
      }
    }
  }

  &:global(.md) {
    &:global(.has-label) {
      .aminoInput {
        padding-top: 20px;
      }

      &:global(.has-content),
      &:focus-within {
        .floatingLabel span {
          top: 6px;
        }
      }

      .inputValuePrefix {
        padding-bottom: 4px;
      }
    }
  }

  &:global(.lg) {
    &:global(.has-label) {
      .aminoInput {
        padding-top: 20px;
      }

      &:global(.has-content),
      &:focus-within {
        .floatingLabel span {
          top: 6px;
        }
      }

      .inputValuePrefix {
        padding-bottom: 10px;
      }
    }
  }

  &:global(.xl) {
    &:global(.has-label) {
      .aminoInput {
        padding-bottom: 2px;
      }
    }
  }
}
