@use 'theme';

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--amino-input-border-radius);
  border: 1px solid theme.$amino-gray-200;
  background: transparent;
  flex: none;

  &:has(input:focus) {
    border-color: theme.$amino-gray-400;
  }

  &:global(.has-error),
  &:global(.has-error):has(input:focus) {
    border-color: theme.$amino-red-600;
  }

  .input {
    background: theme.$amino-input-background;
    height: inherit;
    padding: 0 theme.$amino-space-16;
    outline: none;
    width: 100%;
    border: 0;
    border-radius: inherit;
    background: transparent;
    font-weight: 500;

    &::placeholder {
      color: theme.$amino-gray-600;
    }
  }

  .prefix,
  .suffix {
    padding: 0 theme.$amino-space-8;
    display: flex;
    align-items: center;
  }

  .valuePrefix {
    padding-left: theme.$amino-space-8;
    color: theme.$amino-gray-800;
    white-space: nowrap;
  }

  &.sm {
    height: 32px;
  }
  &.md {
    height: 40px;
  }
  &.lg {
    height: 48px;
  }
  &.xl {
    height: 56px;
  }
}

.label {
  display: block;
  margin-bottom: theme.$amino-space-8;
  color: theme.$amino-text-color-secondary;
  flex: none;

  &:global(.has-error) {
    color: theme.$amino-red-700;
  }
}

.textInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
