@use 'theme';

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--amino-input-border-radius);
  box-shadow: theme.$amino-shadow-input-base;
  background: transparent;
  flex: none;

  &:has(.input:focus) {
    box-shadow: theme.$amino-shadow-input-focus;
  }

  &:global(.has-error) {
    box-shadow: theme.$amino-shadow-input-error;
  }

  &:global(.has-error):has(.input:focus) {
    box-shadow: theme.$amino-shadow-input-error-focus;
  }

  .input {
    background: theme.$amino-input-background;
    height: inherit;
    padding: 0 theme.$amino-space-16;
    outline: none;
    width: 100%;

    border: none;
    border-radius: inherit;
    background: transparent;
    font-weight: 500;

    &::placeholder {
      color: theme.$amino-gray-500;
      font-weight: 400;
    }
  }

  .prefix,
  .suffix {
    padding: 0 theme.$amino-space-8;
    display: flex;
    align-items: center;
  }

  .prefix {
    padding-right: 0;
    margin-right: -8px;
  }

  .valuePrefix {
    padding-left: theme.$amino-space-12;
    color: theme.$amino-gray-800;
    white-space: nowrap;
  }

  &.sm {
    height: 32px;
  }
  &.md {
    height: 40px;
  }
  &.lg {
    height: 48px;
  }
  &.xl {
    height: 56px;
  }
}

.label {
  display: block;
  margin-bottom: theme.$amino-space-8;
  color: theme.$amino-text-color-secondary;
  flex: none;

  &:global(.has-error) {
    color: theme.$amino-red-600;
  }
}

.textInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
