@use 'theme';

.styledWrapper {
  position: relative;
  width: 100%;
}

.styledButtonAction {
  padding: 6px;
  border-radius: 50%;
  transition: theme.$amino-transition;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
  &:focus {
    outline: none;
  }
}

.aminoInput {
  input {
    padding-right: theme.$amino-space-40;
  }
}
