@use 'theme';

.styledWrapper {
  position: relative;
  width: 100%;
}

.styledActionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.styledButtonAction {
  padding: 6px;
  border-radius: 50%;
  transition: theme.$amino-transition;

  &:hover {
    background: theme.$amino-hover-color;
  }
  &:active {
    background: theme.$amino-gray-100;
  }
  &:focus {
    outline: none;
  }
}

.aminoInput {
  & input {
    padding-right: theme.$amino-space-40;
    appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    &::-webkit-datetime-edit-fields-wrapper {
      transition: 0.5s all ease;
    }
    &:not(:focus):not(:global(.has-content)) {
      &::-webkit-datetime-edit-fields-wrapper {
        color: transparent;
      }
    }
  }
}
