@use 'theme';

// These rules are !important because graphiql inlines their styles
.styledWrapper {
  height: 100%;

  :global(.graphiql-tab > .graphiql-tab-button) {
    outline: none;
  }

  :global(.docExplorerWrap) {
    /* Built-in plugin height is set to 100% which prevents the plugin bar scrolling */
    height: auto !important;
    /* Don't cap explorer width */
    width: auto !important;
  }

  :global(.graphiql-explorer-graphql-arguments) {
    svg {
      display: inline-block;
    }
  }

  :global(.graphiql-explorer-root > div) {
    overflow: auto !important;
  }
}

.styledTableWrap {
  height: 100%;
}

.styledPivotTableWrapper {
  height: 100vh;
  overflow: auto;
  padding: 0 theme.$amino-space-12;
  display: flex;
  flex-direction: column;
}