@use 'theme';

.styledWrapper {
  position: relative;
  width: 100%;
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.styledActionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.styledButtonAction {
  padding: 6px;
  border-radius: 50%;
  transition: theme.$amino-transition;

  &:hover {
    background: theme.$amino-hover-color;
  }
  &:active {
    background: theme.$amino-gray-100;
  }
  &:focus {
    outline: none;
  }
}

.input {
  padding-right: theme.$amino-space-40;
  appearance: textfield;

  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
