@use 'theme';

.filterBar {
  padding: theme.$amino-space-8 0;
  border-bottom: theme.$amino-border-subtle;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterBarFilters {
  display: flex;
  gap: theme.$amino-space-8;

  > div > div > div:last-child {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
