@use 'theme';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columnWrapper {
  display: flex;
  gap: 20px;
}

.rowInset {
  padding: 8px;
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-6;
  display: flex;
  justify-content: space-evenly;

  &.row {
    padding: 0;
    /* Put padding inside each item to allow the divider to be full size */
    > svg {
      margin: 8px;
    }
  }
}

.columnInset {
  padding: 8px;
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &.column {
    padding: 0;
    /* Put padding inside each item to allow the divider to be full size */
    > svg {
      margin: 8px;
    }
  }
}

// These dividers have custom styling to not appear inset when the container has the padding. There are multiple approaches to make it full size, as demonstrated here.

.styledDividerVertical {
  margin: -8px;
}

.styledDividerHorizontal {
  margin: 0 -8px;
}
