$justify-content: var(--amino-flex-wrapper-justify-content);
$align-items: var(--amino-flex-wrapper-align-items);
$flex-direction: var(--amino-flex-wrapper-flex-direction);
$gap: var(--amino-flex-wrapper-gap);
$padding: var(--amino-flex-wrapper-padding);
$children-flex: var(--amino-flex-wrapper-flex-children);
$flex-wrapper-flex-wrap: var(--amino-flex-wrapper-flex-wrap);

.flexWrapper {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
  padding: $padding;
  flex-wrap: $flex-wrapper-flex-wrap;
  > * {
    flex: $children-flex;
  }

  &.fullWidth {
    width: 100%;
  }

  &.fullHeight {
    height: 100%;
  }
}
