$justify-content: var(--dashboard-flex-wrapper-justify-content);
$align-items: var(--dashboard-flex-wrapper-align-items);
$flex-direction: var(--dashboard-flex-wrapper-flex-direction);
$gap: var(--dashboard-flex-wrapper-gap);
$padding: var(--dashboard-flex-wrapper-padding);
$children-flex: var(--dashboard-flex-wrapper-flex-children);
$flex-wrapper-flex-wrap: var(--dashboard-flex-wrapper-flex-wrap);

.flexWrapper {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
  padding: $padding;
  flex-wrap: $flex-wrapper-flex-wrap;
  > * {
    flex: $children-flex;
  }
}
