@use 'theme';

$opacity: var(--amino-drop-zone-opacity);
$cursor: var(--amino-drop-zone-cursor);
$border-color: var(--amino-drop-zone-border-color);

.wrapper {
  display: flex;
  flex-direction: column;
  gap: theme.$amino-space-16;
  opacity: $opacity;
  cursor: $cursor;
}

.uploadWrapper {
  border: 2px dashed;
  border-color: $border-color;
  border-radius: theme.$amino-radius-12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  padding: theme.$amino-space-16;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: theme.$amino-space-12;
  width: 100%;
  height: 100%;
}

.instructionTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: theme.$amino-space-4;
}

.browseButton {
  display: inline;
}

.removeFileButton {
  margin-left: auto;
}

.uploadedFilesWrapper {
  display: flex;
  flex-direction: column;
  gap: theme.$amino-space-4;
}

.uploadedFileRow {
  border: theme.$amino-border;
  border-radius: theme.$amino-radius-12;
  padding: theme.$amino-space-16;
  display: flex;
  justify-content: flex-start;
  gap: theme.$amino-space-12;
}

.uploadedFileInfoWrapper {
  display: flex;
  flex-direction: column;
}
