@use 'theme';

$background: var(--amino-checkbox-background);
$border: var(--amino-checkbox-border);
$box-shadow: var(--amino-checkbox-box-shadow);
$disabled-background: var(--amino-checkbox-disabled-background);
$disabled-border: var(--amino-checkbox-disabled-border);

.wrapper {
  cursor: pointer;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;

  &,
  * {
    user-select: none;
    pointer-events: none;
  }

  &.disabled {
    .aminoCheckbox {
      background: $disabled-background;
      border: $disabled-border;
      box-shadow: none;
    }

    .styledLabel {
      color: theme.$amino-gray-600;
    }

    .styledSubtitle {
      color: theme.$amino-gray-400;
    }

    .labelWrapper {
      svg {
        opacity: theme.$amino-opacity-disabled;
      }
    }

    cursor: not-allowed;
  }
}

.aminoCheckbox {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
  border-radius: theme.$amino-radius-4;
  background: $background;
  border: $border;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: $box-shadow;

  svg {
    color: theme.$amino-gray-0;
    width: 16px;
    height: 16px;
    box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.06),
      0px 1px 2px rgba(0, 0, 0, 0.04);

    [data-theme='night'] & {
      color: theme.$amino-gray-1000;
    }
  }
}

.infoWrapper {
  margin-left: 8px;
}

.styledLabelDescription {
  margin-left: 4px;
  color: theme.$amino-gray-600;
}

.styledLabel.styledLabel {
  margin-bottom: 0;
}

.styledSubtitle{
  margin-left: 24px;
  margin-top: 4px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  line-height: 16px;

  svg {
    margin-right: 4px;
  }
}
