@use 'theme';

.styledSectionWrapper {
  padding: 8px;
  margin-bottom: 40px;
  grid-template-columns: 1fr 2fr;
}

.styledCollapseIndicator.styledCollapseIndicator {
  position: relative;
  margin-left: 4px;
  transition: 0.2s all ease;
  background: transparent;

  &:hover {
    path[data-is-secondary-color] {
      fill: theme.$amino-gray-300;
    }
  }
  &:active,
  &:focus {
    path[data-is-secondary-color] {
      fill: theme.$amino-gray-400;
    }
  }

  &:active,
  &:focus,
  &:hover {
    background: transparent;
    color: theme.$amino-gray-800;
  }

  &.collapsed {
    transform: rotate(90deg);
  }
}

.styledDiv {
  display: flex;
  flex-direction: column;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}