@use 'theme';

$width: var(--amino-base-dialog-width);

.backdrop {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: theme.$amino-text-color;
}

.popup {
  z-index: 1001;
  background: theme.$amino-page-background;
  max-height: 90vh;
  width: $width;
  border-radius: theme.$amino-radius-12;
  outline: none;
  box-shadow: theme.$amino-v3-shadow-xxl;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
