@use 'theme';

.styledTableRow {
  &:not(.collapsed) {
    td {
      border-bottom: 0;
    }
  }

  &.collapsible {
    cursor: pointer;
  }
}

.styledCollapse {
  > div {
    padding-bottom: 16px;
  }
}

.collapsibleCell.collapsibleCell.collapsibleCell {
  border-bottom: inherit;
  height: inherit;

  .collapsed & {
    height: 0;
    border-bottom: 0;
  }

  > div {
    width: 100%;
  }
}

.collapseButton {
  svg {
    transition: theme.$amino-transition;

    .collapsed & {
      transform: rotate(180deg);
    }
  }
}
