@use 'theme';

.styledTableRow {
  &.with-hover:hover {
    background-color: theme.$amino-gray-50;
  }
  th {
    color: theme.$amino-gray-800;
    text-transform: uppercase;
    & > * {
      font-size: theme.$amino-font-size-s;
    }
  }
  /** Only affect on tr inside tbody */
  tbody &.active {
    background: theme.$amino-gray-50;
  }
}
