@use 'theme';

$background-color: var(--background-color);
$background-image: var(--background-image);
$background-size: var(--background-size);
$background-position: var(--background-position);
$border: var(--border);
$border-radius: var(--border-radius);
$height: var(--height);
$width: var(--width);

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border;
  border-radius: $border-radius;
  height: $height;
  width: $width;
}

.styledAvatarBase {
  height: 100%;
  width: 100%;
  border-radius: $border-radius;
  background-color: $background-color;
  background-image: $background-image;
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: no-repeat;
}
