@use 'theme';

.shrinkWrapper {
  display: inline-flex;

  .wrapper {
    position: relative;
    border-radius: 6px;
    background-color: theme.$amino-gray-50;

    display: flex;
  }

  .selectedSlider {
    z-index: 1;
    position: absolute;
    background-color: theme.$amino-raised-surface-color;
    height: 100%;

    /* Light/Shadows/Button */
    box-shadow: theme.$amino-shadow-button-standard;
    border-radius: 6px;
  }

  .optionWrapper {
    z-index: 2;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: theme.$amino-font-size-base;
    font-weight: 500;
    color: theme.$amino-text-color-secondary;

    &:focus {
      outline: none;
    }

    &:hover:not(.selected) {
      color: theme.$amino-text-color;
    }

    &.selected {
      color: theme.$amino-text-color;
    }
  }

  &.fullWidth {
    width: 100%;

    .wrapper {
      width: 100%;

      .optionWrapper {
        flex-grow: 1;
      }
    }
  }

  &:global(.sm) {
    .optionWrapper {
      padding: 6px 12px;
    }
  }

  &:global(.md) {
    .optionWrapper {
      padding: 10px 12px;
    }
  }

  &:global(.lg) {
    .optionWrapper {
      padding: 14px 14px;
    }
  }

  &:global(.xl) {
    .optionWrapper {
      padding: 18px 16px;
    }
  }
}
