@use 'theme';

.shrinkWrapper {
  display: inline-flex;
}

.wrapper {
  position: relative;
  border-radius: 6px;
  background-color: theme.$amino-gray-50;

  display: flex;
}

.optionWrapper {
  z-index: 2;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 6px;
  transition: theme.$amino-transition;

  color: theme.$amino-text-color-secondary;

  &:focus {
    outline: none;
  }

  &:hover:not(.selected) {
    opacity: 0.6;
  }

  &.selected {
    color: theme.$amino-text-color;
  }
}

.selectedSlider {
  z-index: 1;
  position: absolute;
  background-color: theme.$amino-surface-color;
  height: 100%;

  /* Light/Shadows/Button */
  box-shadow:
    0px 1px 3px 0px rgba(110, 110, 120, 0.12),
    0px 0px 0px 1px rgba(106, 109, 119, 0.12) inset,
    0px -1px 1px 1px rgba(0, 0, 0, 0.08) inset;
  border-radius: 6px;
}
