@use 'theme';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customWrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: theme.$amino-border-blue;
  border-radius: 6px;
  gap: 10px;
}
