@use 'theme';

.backgroundDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-size: 400% 400%;
}

.styledDiv {
  position: relative;
  cursor: crosshair;
  border: theme.$amino-border;
  border-radius: 6px;
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
