@use 'theme';

.inputWrapper {
  display: flex;
  align-items: center;
  gap: theme.$amino-space-8;

  svg {
    min-width: theme.$amino-space-24;
  }

  :global(.arrow-right) {
    margin-right: theme.$amino-space-16;
  }
}