@use 'theme';

.surfaceBase {
  background: theme.$amino-surface-color;
  padding: 24px;
  color: theme.$amino-text-color;
  border-radius: theme.$amino-radius-8;

  &.dense {
    border-radius: theme.$amino-radius-6;
  }

  &.depth4 {
    box-shadow: theme.$amino-v3-shadow-base;
    border: theme.$amino-border;
  }

  &.depth8 {
    box-shadow: theme.$amino-v3-shadow-medium;
  }

  &.depth16 {
    box-shadow: theme.$amino-v3-shadow-large;
  }

  &.depth64 {
    box-shadow: theme.$amino-v3-shadow-xl;
  }
}
