@use 'theme';

$styled-track-height: var(--amino-slider-styled-track-height);
$styled-thumb-height: var(--amino-slider-styled-thumb-height);
$styled-thumb-width: var(--amino-slider-styled-thumb-width);
$slider-wrapper-height: var(--amino-slider-wrapper-height);

.styledSlider {
  align-items: center;
  display: flex;
  height: 12px;
  position: relative;
  touch-action: none;
  user-select: none;
}

.styledTrack {
  background-color: theme.$amino-gray-200;
  border-radius: 20px;
  box-shadow: theme.$amino-v3-shadow-inset;
  flex-grow: 1;
  height: $styled-track-height;
  position: relative;
  & + span {
    transition: 0.3s all ease;
  }
}

.styledRange {
  background-color: theme.$amino-primary;
  transition: 0.3s all ease;
  border-radius: 9999px;
  height: 100%;
  position: absolute;
}

.styledThumb {
  background: theme.$amino-gray-0;
  border-radius: 20px;
  border: theme.$amino-border;
  box-shadow: theme.$amino-v3-shadow-base;
  display: block;
  height: $styled-thumb-height;
  width: $styled-thumb-width;

  [data-theme='night'] & {
    background: theme.$amino-gray-1200;
  }

  cursor: pointer;

  &:focus,
  &:active {
    background: theme.$amino-gray-100;
    border-color: theme.$amino-primary;
    box-shadow: theme.$amino-glow-blue;
    outline: none;
  }
}

.sliderWrapper {
  position: relative;
  height: $slider-wrapper-height;
}

.indicator {
  align-items: center;
  background: theme.$amino-blue-100;
  border-bottom-left-radius: theme.$amino-radius-6;
  border-bottom-right-radius: theme.$amino-radius-6;
  color: theme.$amino-blue-800;
  display: flex;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 48px;

  span {
    margin-top: -8px;
  }
}

.upTriangle {
  border-bottom: 24px solid theme.$amino-blue-100;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top-left-radius: theme.$amino-radius-6;
  border-top-right-radius: theme.$amino-radius-6;
  height: 0;
  width: 0;
  width: 48px;
}

.indicatorWrapper {
  margin-left: -12px;
  margin-top: 34px;
}
